#user-register-form button, #edit-actions {
	float: left;
	clear: left;
}
#provider-page {
	min-height: 200px;
}
#provider-consultants .view-consultants .views-field-picture img {
	width: 100px;
}
#provider-consultants .view-consultants .views-field-picture {
	width: 100px;
	height: auto;
	overflow: hidden;
}
#provider-consultants .view-consultants .views-row {
	float: left;
	clear: left;
	width: 100%;
	margin-right: 15px;
	margin: 0 0 20px 0;
	height: auto;
	max-height: auto;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 0px;
	border-bottom: 0px;
}
#provider-consultants .view-consultants .views-field-name {
	color: #000;
	text-transform: none;
	font-size: 16px;
	font-weight: 600 !important;
	margin: 10px 0;
}
#provider-consultants .view-consultants .views-field-name a {
	color: #000;
}

#provider-consultants .view-consultants .views-field-field-services {
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 0px;
}
#provider-consultants .view-consultants .views-field-field-services div,
#provider-consultants .view-consultants .views-field-field-services ul {
	display: inline;
}
#provider-consultants .view-consultants .views-field-field-services ul li {
	margin-right: 4px;
}
#provider-consultants a.button {
	margin-top: 20px;
	position: relative;
	float: left;
	clear: left;
	left: 0;
	bottom: 0;
}
/*
.page-admin-people #user-register-form .field-name-field-account-type {
	display: none;
}
*/
.page-admin-people #user-register-form .field-name-field-organisation-name {
	display: none;
}
.field-type-node-reference {
	float: left;
	clear: left;
}
.node-form .vertical-tabs {
	float: left;
	clear: left;
}

.field-name-field-provider-services {
	margin: 8px 0 15px 0;
}
table.fs-openings {
	width: 100% !important;
}
.fs-embed .fs-openings-month-ct {
	width: 100% !important;
}
#author, .view-news .views-field-name {
	color: #000;
	font-weight: 600 !important;
	margin: 15px 0 15px 0;
	text-transform: none;
}
.node-article .node-title, .view-news .views-field-title, .view-news .views-field-title a {
	color: #328BF6;
	font-weight: 500;
	font-size: 24px;
}
.view-news .views-field-body {
	margin-top: 15px;
}

#diagnostic-node-form .multipage-controls-list #edit-actions,
#diagnostic-node-form #edit-actions {
	float: right;
	margin: 0 15px 0 0;
}
#diagnostic-node-form .multipage-controls-list #edit-actions button,
#diagnostic-node-form #edit-actions button {
	float: right;
	padding: 20px 25px 20px 25px;
	color: #000000;
    font-family: "proxima-nova",Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: 600 !important;
    text-shadow: 0 0 0 #FFFFFF;
    text-transform: uppercase;	
	margin-left: 15px;
}
#diagnostic-node-form .multipage-controls-list #edit-actions button#edit-delete,
#diagnostic-node-form #edit-actions button#edit-delete {
	background-color: #B2B2B2;
	display: none;
}
#diagnostic-node-form .multipage-controls-list #edit-actions button#edit-delete:hover,
#diagnostic-node-form #edit-actions button#edit-delete:hover {
	background-color: #FF0000;
}
#diagnostic-node-form .multipage-controls-list #edit-actions button#edit-submit,
#diagnostic-node-form #edit-actions button#edit-submit {
	background-color: #B2B2B2;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

/* Diagnostic Report */

#diagnostic-summary {
	background: #F9F9F9;
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 15px;
	color: #000;
}
#diagnostic-summary p {
	font-size: 14px;
	color: #403E39;
	margin: 15px 0;
}
#diagnostic-summary h3 {
	margin-bottom: 25px;
	margin-top: 10px;
	font-size: 28px;
	font-weight: 600;
	color: #000;
}
.field-name-field-name-role, .field-name-field-org-company-name {
	display: inline;
	font-weight: 600;
}
.node-diagnostic .panel {
	border: 0px;
	padding: 0px;
	margin: 0;
}
.node-diagnostic {
	padding: 15px;
	background-color: #F9F9F9;
}

.node-diagnostic .field-name-field-address {
	width: auto;
	float: right;
	
}

#diagnostic-bridge {
	margin: 15px 0 0 0;
	padding: 30px 15px 25px 15px;
	overflow: hidden;
}
.node-diagnostic .spacer {
	height: 40px;
}
#bridge-diagram {
	width: 460px;
	max-width: 100%;
	margin: 0 auto;
}
.bridge-block {
	width: 150px;
	height: 150px;
	background-color: #EDEDED;
	position: relative;
	display: inline-block;
	margin-right: -1px;
}
.bridge-block.three, .bridge-block.six {
	border-right: 0px;
}
.bridge-block.blank {
	background-color: #FFFFFF;
}
.bridge-block .fill {
	vertical-align: bottom;
	width: 100%;
	position: absolute;
	bottom: 0px;
}
#financial-performance-block .fill,
.fin-perf .square-tint {
	background-color: #2668B9;
}
#quality-impact-block .fill,
.qual-imp .square-tint {
	background-color: #DD43CE;
}
#financial-control-block .fill,
.fin-cont .square-tint {
	background-color: #00A173;
}
#governance-leadership-block .fill,
.gov-lead .square-tint {
	background-color: #F9C32B;
}
#market-potential-block .fill,
.mark-pot .square-tint {
	background-color: #DD4C2C;
}
.square-tint {
	height: 21px;
	width: 21px;
}
#bridge-legend table {
	border: 0px;
	margin: 0 25px 25px 0;
	font-size: 12px;
	color: #000;
	width: 100%;
}
#bridge-legend table tbody {
	border-top: 0;
}

#bridge-legend table tr:nth-of-type(2n) {
	background-color: transparent;
}
#bridge-legend table tr th, #bridge-legend table tr td {
	color: #000000;
    font-size: 14px;
    padding: 5px;
}
#bridge-legend table tr td.square {
	padding-left: 0px;
}
#bridge-legend table tr td.title {
	padding-right: 20px;
}
#bridge-legend table tr td.perc {
	text-align: right;
	color: #000;
	font-weight: 600;
}
#bridge-legend table tr{
	border-bottom: 1px solid #E2E2E2;
}
#bridge-legend table tr:first-child {
	border-top: 1px solid #E2E2E2;
}
#bridge-legend {
	width: 50%;
	float: left;
	height: 
}
#overall-score {
	width: 35%;
	text-align: center;
	background-color: #0C233E;
	padding: 15px 20px;
	float: left;
	height: 100%;
	margin: 0 0 0 15%;
	line-height: 1;
}
#bridge-figures {
	float: left;
	width: 100%;
	clear: both;
	height: 160px;
}
.overall-score-big {
	font-size: 100px;
	color: #FFF;
	display: inline;
	font-weight: 700;
}
.smaller-perc {
	color: #FFF;
	font-size: 50px;
	font-weight: 700;
}
.overall-title {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFF;
	margin-top: 0px;
	letter-spacing: 1px;
}
#areas-detail {
	padding: 20px 15px 15px 15px;
	overflow: hidden;
}
.chart-overlay-contain {
	position: relative;
	width: 200px;
	height: 200px;
}
.area-chart-overlay {
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 50px 50px;
	top: 0px;
	left: 0px;
	vertical-align: middle;
}
.area-score-big {
	font-size: 40px;
	font-weight: 700;
	color: #000;
	margin-top: 30%;
	margin-left: 6%;
}
.area-smaller-perc {
	font-size: 20px;
	color: #989898;
	font-weight: 500;
}
.area-all {
	float: left;
	clear: left;
	width: 100%;
	border-top: 1px solid #C6C6C6;
	padding: 30px 0;
}
.area-chart-individual {
	width: 200px;
	float: left;
	margin-right: 40px;
}
.area-text {
	float: left;
	width: 400px;
}
.area-text h3 {
	font-size: 18px;
	font-weight: 700;
}
.area-description, .area-description p {
	line-height: 1.5;
	font-size: 14px;
	color: #403E39;
	margin: 0 0 15px 0;
}
.area-message {
	font-size: 14px;
	line-height: 1.5;
	color: #000;
	background-color: #C6C6C6;
	padding: 10px;
}
.governance-leadership .area-message {
	background-color: #FEF5DD;
}
.marketpotential .area-message {
	background-color: #F9E2DD;
}
.financialcontrol .area-message {
	background-color: #D6F0E9;
}
.financialperformance .area-message {
	background-color: #DCE7F4;
}
.quality-impact .area-message {
	background-color: #F9E1F7;
}
#weakest {
	float: left;
	clear: left;
	width: 100%;
	overflow: hidden;
	margin-top: 15px;
	padding: 15px;
	font-size: 13px;
	line-height: 1.5;
	color: #000;
}
#weakest > p {
	font-size: 14px;
	line-height: 1.5;
	color: #000;
	font-weight: 600;
}
#weakest > ul {
	list-style: none;
	margin-left: 0px;
}
#weakest > ul li {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding: 8px 0;
	border-bottom: 1px solid #DFDFDF;
	font-size: 14px;
	line-height: 1.5;
	color: #403E39;
}
#edit-report {
	float: left;
	clear: left;
	width: 100%;
	overflow: hidden;
	margin: 25px 0;
}

.print_html, .print_mail, .print_pdf, .print_epub {
	margin-right: 10px;
	margin-left: 0px;
}
.print_html a, .print_mail a, .print_pdf a, .print_epub  a {
	display: inline-block;
	width: auto;
	padding: 5px 10px;
	background-color: #328BF6;
	color: #fff;
	font-size: 12px;	
	font-family: "proxima-nova", Verdana, Geneva, sans-serif;
	font-weight: 500;
	line-height: 18px;
	transition: background-color 300ms ease-out 0s;
}
.printlinks {
	margin-top: 10px;
}
.print_html a:hover, .print_mail a:hover, .print_pdf a:hover, .print_epub  a:hover {
	background-color: #0C233E;
	color: #fff;
	text-decoration: none;
}

.jumplist {
	width: 100%;
	border-top:3px solid #FFF;
	height: 40px;
	float: left;
	clear: both;
	margin: 20px 0;
	padding: 0;
	font-family: "proxima-nova-condensed", Verdana, Geneva, sans-serif;
	font-weight: 600;
	background-color: #D6E8FD;
}
.jumplist.bar {
	border-top: 0;
	height: 45px;
	margin: 0 0 20px 0;
}
.jumplist li {
	list-style-type: none;
	list-style-image: none;
	float: left;
	width: 11.1%;
	text-align: left;
	padding: 0 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	background-color: #D6E8FD;
}
.jumplist.bar li {
	width: 12.5%;
	text-align: center;
	padding: 0 0;
	line-height: 45px;
	border-right: 1px solid #fff;
	text-transform: uppercase;
}
.jumplist.bar .step-report {
	border-right: 0;
}
.block-block-3, .block-block-8 {
	float: left;
	clear: left;
	width: 100%;
}
.jumplist a {
	display: block;
	text-align: left;
	margin-top: -18px;
	font-size: 10px;
	color: #1C2229;
	text-align: center;
	background-color: #D6E8FD;
}
.jumplist.bar a {
	margin-top: 0px;
	font-size: 18px;
	color: #000;
	text-align: center;
}
.jumplist.bar .step-report a {
	padding-left: 34px;
	font-size: 14px;
	background: transparent url(../images/report-icon-normal.png) no-repeat 10px 50%;
	
}
.jumplist a br {
	line-height: 5px;
}
.jumplist.bar a br {
	line-height: 45px;
}
.jumplist a:hover, .jumplist a.active, .jumplist.bar .step-report a:hover, .jumplist.bar .step-report a.active {
	color: #D6E8FD;
	text-decoration: none;
	background-color: #0C233E;
}
.jumplist.bar .step-report a:hover, .jumplist.bar .step-report a.active {
	background-image: url('../images/report-icon-active.png');
}

article.node-diagnostic {
	float: left;
	clear: left;
}
.node a.button, 
.flag-submit-diagnostic-report a.flag, 
.flag-submit-funding-application- a.flag, 
a#edit-cancel,
button#edit-submit-dialog, 
button#edit-cancel-dialog,
#funding-application-node-form .button.grey,
button.ajax-processed {
   background: #b64caa !important;
    color: #f9e1f6 !important;
    font-family: "proxima-nova","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
	padding: 1.0625rem 2rem 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 300ms ease-out 0s;
}
.flag-submit-diagnostic-report a.flag:hover,
.node a.button:hover,
.flag-submit-funding-application- a.flag:hover,
a#edit-cancel:hover,
button#edit-submit-dialog:hover, 
button#edit-cancel-dialog:hover,
#funding-application-node-form .button.grey:hover,
button.ajax-processed:hover {
	background-color: #82357a !important;
	text-decoration: none !important;
}
#submit-report {
	padding-left: 0;
	padding-right: 0;
}
#funding-application-node-form .vertical-tabs {
	clear: both;
}
#funding-application-node-form p {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.5;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	color: #000;
}
#funding-application-node-form .fieldset-description {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: #000;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	padding: 0px 15px;
	margin-bottom: 25px;
}

#funding-application-node-form {
	float: left;
	width: 100%;
	clear: left;
	padding: 30px 15px;
	background-color: #F9F9F9;
}
#funding-application-node-form .form-item {
	background-color: #fff;
	padding: 15px;
}
#funding-application-node-form .vertical-tabs {
	display: none;
}
#field-introduction-and-download-add-more-wrapper h2 {
	line-height: 1.2;
	margin-bottom: 20px;
	color: #328BF6;
	font-weight: 500;
	font-size: 24px;	
}
#funding-application-node-form #edit-field-file-upload .description {
	display: none;
}
button.ajax-processed {
	
}
input[type="file"] {
	width: 340px;
	font-size: 12px;
	max-width: 100%;
}
#edit-submit, #edit-submit.secondary, #edit-delete {
   background: #ADD1FB !important;
    color: #0C233E !important;
    font-family: "proxima-nova","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#edit-submit:hover, #edit-submit.secondary:hover {
	background-color: #0C304F !important;
	text-decoration: none !important;
	color: #fff !important;
}
#funding-application-node-form #edit-actions {
	float: right;
}
#edit-delete:hover {
	background-color: #DD4C2C !important;
	text-decoration: none !important;
	color: #fff !important;
}
.node-funding-application {
	float: left;
	clear: left;
	width: 100%;
	background-color: #f9f9f9;
	padding: 15px;
}
.node-funding-application .field-name-field-file-upload {
	padding: 15px;
	background-color: #fff;
}
.flag-submit-funding-application- a.flag {
	margin-top: 15px;
}
.node-funding-application #edit-report {
	margin-bottom: 0px;
}

#dashboard {
	padding: 15px;
	background-color: #F9F9F9;
	float: left;
	width: 100%;
}
#dashboard > h2, .dashpanel h2 {
	font-size: 18px;
	margin: 0 0 15px 0;
	font-weight: 600;
	color: #0C233E;
}
#dashboard > h2 {
	margin: 0 0 15px 15px;
}
.dashpanel h2 {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #B6B6B5;
}
.dashpanel {
	background-color: #fff;
	padding: 20px;
	float: left;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
}
.profile-label {
	width: 100px;
	float: left;
	line-height: 30px;
	font-size: 14px;
	display: inline-block;
	clear: both;
	color: #000;
}
.textbox {
	float: left;
	line-height: 30px;
	font-size: 14px;
	background-color: #F9F9F9;
	border: 1px solid #E4E4E4;
	display: inline-block;
	width: 280px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 8px;
	color: #000;
}
.profile-field {
	margin-bottom: 5px;
	width: 400px;
	float: left;
	clear: left;
}
#profile-info .user-picture {
	margin: 0 0 0 0;
}
.dashpanel.half {
	width: 49%;
	float: left;
	height: 300px;
}
.dashpanel.half.left {
	margin-right: 2%;
}
.dashpanel.onethird {
	width: 32%;
	float: left;
	height: 410px;
	padding-left: 10px;
	padding-right: 10px;
}
.dashpanel.onethird.left,
.dashpanel.onethird.middle {
	margin-right: 2%;
}
.green > h2,
h2.tick {
	padding-left: 40px;
	background: transparent url('../images/tick.png') no-repeat left 50%;
	margin-bottom: 20px;
	background-size: 25px 25px;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 0px;
	border-bottom: 0px none;	
}
h2.cross,
.red > h2 {
	padding-left: 40px;
	background: transparent url('../images/cross.png') no-repeat left 50%;
	margin-bottom: 20px;
	background-size: 25px 25px;
	font-size: 18px;
	font-weight: 700;	
	padding-bottom: 0px;
	border-bottom: 0px none;
}
.onethird .darkbold {
	min-height: 145px;
}
.darkbold {
	padding: 10px 8px;
	background-color: #D1D1D1;
	font-size: 14px;
	color: #fff;
}
.green .darkbold{
	background-color: #04B57A;
}
.red .darkbold {
	background-color: #DD4C2C;
}
.darkbold p {
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 0px;
	color: #fff;
}
.subtext {
	margin-top: 15px;
}
.subtext p {
	font-size: 14px;
}
.onethird .subtext p {
	max-width: 240px;
}
.dashpanel.half .subtext p {
	max-width: 300px;
}
.dashpanel a.button.big {
	text-transform: uppercase;
	position: absolute;
	bottom: 15px;
	margin-bottom: 0px;
	left: 15px;
}
#profile-edit-link {
	width: auto;
	float: right;
}
#profile-edit-link .button.grey {
	color: #fff;
	padding: 10px 20px;
	background-color: #B2B2B2;
}
#profile-edit-link .button.grey:hover {
	background-color: #999;
}
#profile-edit-link .button.blue {
	color: #0C233E;
	padding: 10px 20px;
	background-color: #ADD1FB;
	font-weight: 600;
	font-size: 21px;
}
#profile-edit-link .button.blue:hover {
	background-color: #0C233E;
	color: #FFF;
	text-decoration: none;
}
.dashpanel#funding-status {
	min-height: 300px;
}
.page-user .main ul.button-group,
.page-user .main h2.element-invisible {
	display: none;
}
.page-user .main .profile {
	margin-top: 0;
}
h1#page-title {
	margin-top: 0;
	font-size: 28px;
	font-weight: 600;
	color: #328BF6;
}
.page-user .main .profile h1#page-title {
	margin-left: 30px;
}
.view-connected-providers {
	float: left;
	width: 100%;
	max-width: 440px;
}
.view-connected-providers img {
	width: 188px;
}
.view-connected-providers .user-picture {
	width: 188px;
	height: 125px;
	overflow: hidden;
}
.view-connected-providers .views-row {
	float: left;
	clear: none;
	width: 188px;
	margin-right: 15px;
	margin: 0 15px 15px 0;
	height: 215px;
	max-height: 215px;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 0px;
	padding-bottom: 0px;
}
.view-connected-providers .views-field-name {
	color: #000;
	text-transform: none;
	font-size: 16px;
	font-weight: 700 !important;
	margin: 10px 0;
}
#document-library > h2 {
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}
.view-document-library {
	float: left;
	width: 100%;
}
.view-document-library .views-row {
	width: 100%;
	float: left;
	clear: left;
}
.view-document-library .views-field-field-download {
	width: 60px;
	float: left;
	margin-right: 15px;
}
.view-document-library .views-field-field-download img {
	width: 60px;
}
.view-document-library .views-field-field-download-1,
.view-document-library .views-field-field-download-1 div {

}
.view-document-library .views-field-field-download-2,
.view-document-library .views-field-field-download-2 div {
	font-size: 13px;
	color: #999;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	margin-top: 10px;
}
.view-document-library .views-field-field-download-1 img.file-icon {
	display: none;
}
.view-document-library .views-field-field-download-1 .file,
.view-document-library .views-field-field-download-1 .file a {
	font-weight: bold;
	color: #000;
}
span.file-size {
	font-size: 14px;
	color: #999;
	font-weight: normal;
}
.button.navy {
	background-color: #0C233E !important;
	color: #fff !important;
	font-size: 16px !important;
	padding: 22px 10px !important;
	text-decoration: none !important;
	height: 60px;
	width: 190px;
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
.button.navy:hover {
	background-color: #000 !important;
	text-decoration: none !important;
}
#funding-status .button.navy {
	padding-top: 11px !important;
}
#connected-providers .view-connected-providers .views-row {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 0px;
	padding-bottom: 0px;
	height: auto;
	max-height: auto;
}
#connected-providers .view-connected-providers .views-row .user-picture {
	width: 100px;
	margin: 0 20px 0 0;
	float: left;
	height: auto;
}
#connected-providers .view-connected-providers .views-row .user-picture img {
	width: 100px;
}
.main #connected-providers .view-connected-providers .views-row .views-field-title {
	font-size: 14px;
	font-weight: 500;
	font-style: italic;
	color: #999;
}
.main #connected-providers .view-connected-providers .views-row .views-field-title a {
	color: #999;
}
#provider-page {
	min-height: 250px;
}