body {
	font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	color: #6a6a69;
	background-image:url(images/top-01.png);
	background-repeat:no-repeat;
	background-position: right 28px;
}
p {
	line-height: 1.4;
	color: #575756;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.5;
	color: #000;
	font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 19px;
}
h4 {
	font-size: 17px;
}
h5 {
	font-size: 16px;
}
hr {
	margin: 25px 0;
}
h2.block-title {
	padding: 12px 18px;
	text-transform: uppercase;
	font-weight:400;
	font-size:13px;
	background: #B9D9FB;
	margin-bottom:0;
	font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.body ul {
	margin-bottom: 20px;
}
.body a {
	text-decoration: underline;
	font-weight: 600;
	color: #6a6a69;
}
.body a:hover, .body a:focus {
	text-decoration: none;
	font-weight: 600;
	color: #575756;
}
article .body h2 {
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 600;
}
a {
	color: #000;
}
a:hover, a:focus {
	text-decoration: underline;
	color: #000;
}
.row {
  max-width: 60.625rem;
}
#user-menu-bar {
	height: 30px;
	overflow: hidden;
	background-color: #0C304F;
	margin-bottom: 22px;
}
#secondary-menu ul {
	margin: 0;
	paddding: 0;
}
#secondary-menu ul li {
	list-style-type: none;
	list-style-image: none;
	float: right;
	display: block;
	padding: 0px;
	margin: 0 0 0 8px;
	color: #000;
	width: auto;
	font-size: 11px;
	font-weight: 600;
}
#secondary-menu ul li a {
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	color: #B9D9FB;
	font-size:12px;
	font-weight:400;

}
#secondary-menu ul li a:hover, #secondary-menu ul li.active a, #secondary-menu ul li.active-trail a {
	color: #fff;
	background-color: #3D9FF7;
	text-decoration: none;
}
.large-12.columns {
	padding-left: 0;
	padding-right: 0;
}
#admin-menu, #admin-menu ul, #admin-menu ul li, #admin-menu ul li a {
	/* Fix b0rking of admin menu caused by Zurb */
	font-size: 9px !important;
}

#menubar {

}

#menubar nav {
	max-width: 60.625rem;
	margin: 14px auto 20px auto;
	padding: 0px 0px;
	background-color: transparent !important;
}

#menubar nav li, #menubar nav li a {
	color: #000;
}

#main-menu ul {
	background-color: transparent !important;
	width: 100%;
	margin: 0;
}

#main-menu li a, #main-menu li a:not(.button) {
	background-color: transparent;
}

#main-menu ul li > a {
    display: block;
    width: 100%;
    color: #000;
    padding: 8px 0px 8px 0;
    font-size: 18px;
    font-weight: 600;
    background: none repeat scroll 0% 0% #DCDCDC;
	text-align: center;
}

#main-menu ul li > a:hover,
#menubar nav li a:hover,
#menubar nav li.active a,
#menubar nav li.active-trail a {
	background-color: #FFF !important;
	color: #0C304F;
	text-decoration: none;
}

#main-menu li {
	width: 25%;
	margin: 0;
}

#main-menu li {
	border-right: none;
	text-transform: uppercase;
}

#main-menu li:last-child {
	border-right: 0px none;
}

aside.sidebar-first {
	float: left;
	padding-left: 0;
	padding-right:0;
}
.sidebar section {
	padding: 0px;
	margin-bottom: 20px;
}


.block-menu-block-1  {
	background-color:#F3F3F3;
}

.menu-block-wrapper {
	padding: 0 0 0 0;
}
.sidebar ul.menu {
	margin: 0px;
	list-style-position: none;
}
.sidebar ul.menu li {
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	list-style-type: none;
	list-style-image: none;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	border-bottom: solid 4px #FFF;
}
.sidebar ul.menu li a {
	color: #000;
	padding: 0 0 0 20px;
	display: block;
	line-height:46px;
}
.sidebar ul.menu li a:hover, .sidebar ul.menu li a:focus, .sidebar ul.menu li.active a, .sidebar ul.menu li a.active {
	background-color: #0C304F !important;
	text-decoration: none;
	color:#DCECFC;
}
main.row {

}
.sidebar section.block-block-2, .sidebar section.block-block-4, .sidebar section.block-block-5, .sidebar section.block-block-6 {
	padding: 0;
}
.sidebar section .button {
	margin-bottom: 15px;
	width: 100%;
	text-align: left;
	padding: 22px 18px;
	font-weight: 600 !important;
	font-size: 15px;
}

.sidebar section .button:last-child {
	margin-bottom: 0px;
}

.button.grey {
	background-color: #C6C6C6;
	color: #000;
}
.button.lightgrey {
	background-color: #F9F9F9;
	color: #000;
}
.button.grey:hover, .button.grey.arrow:hover {
	background-color: #82357a;
	text-decoration: none;
}
.button.grey.arrow {
	background: #B64CAA url('../images/bp_wf_arrow.png') no-repeat 92% 50%;
	color:#F9E1F6;
	text-transform:uppercase;
	font-weight:400;
	font-size:13px;
	font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
ul.button-group {
	margin-bottom: 18px;
	/* border-bottom: 1px solid #3D3D3A; */
}
ul.button-group li a {
	display: block;
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #C6C6C6;
	font-weight: normal;
	font-size: 13px;
	margin-right: 5px;
}
ul.button-group li a:hover {
	text-decoration: none;
}
ul.button-group li a.active {
	background-color: #000;
}
.node-type-diagnostic ul.button-group {
	display: none;
}

.field-name-field-caption {
	background-color: #C6C6C6;	
	color: #000;
	font-size: 12px;
	padding: 5px 10px;
	margin: 0 0 8px 0;
}
.form-item-vote a.selectBox {
	display: none !important;
}
.sidebar section .view-content {
	padding: 15px;
	background-color:#EDF5FD;
}
.sidebar section .views-row {
	padding: 0 0 10px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.1;
	margin-top:10px;
	border-bottom: solid 1px #FFF;
}

.views-row-first {
	margin-top:0 !important;
}

.views-row-last {
	border-bottom:none !important;
}

.sidebar section .views-row a {
	color: #0c304f;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	line-height: 1.3;
}

.sidebar section .views-row a:hover {

}

.link-arrow {
	display: inline-block;
	margin-left: 8px;
	width: 9px;
	height: 13px;
	background: transparent url('../images/link-arrow.png') no-repeat left bottom;
}
#backlink {
	padding: 0px 0 15px 0;
	border-bottom: 2px solid #CECECE;
	margin-bottom: 15px;
}
#backlink .button.grey {
	background: #EDEDED url('../images/backlink-arrow.png') no-repeat 12px 50%;
	padding: 12px 12px 12px 28px;
	font-size: 12px;
	font-weight: 600 !important;
	text-transform: uppercase;
	margin-bottom: 0px;
}
#backlink .button.grey:hover, #backlink .button.grey:focus {
	background-color: #9D9D9C;
	text-decoration: none;
}
#resource-icon {
	float: left;
	width: 60px;
	height: 100%;
}
#resource-remain {
	margin-left: 75px;
	max-width: 440px;
}
#resource-icon .wrapper {
	width: 60px;
	height: 65px;
	float: left;
}
#author {
	margin: 5px 0;
}
#author a, #author .field-name-field-attribution {
	color: #666;
	text-transform: uppercase;
	font-weight: 600 !important;
}
.node-type-resource .body, .node-type-resource .body p {
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #666;
}
.field-name-field-tags, .field-name-field-categories {
	margin: 10px 0 15px 0;
}
.views-field-field-provider-services {
	margin-top: 6px;
}
main ul.links, 
.field-name-field-tags ul, 
.field-name-field-categories ul, 
.views-field-field-categories ul,
.views-field-field-tags ul,
.views-field-field-services ul,
.views-field-field-provider-services ul {
	margin-left: 0;
	font-size: 10px;
	font-family: "proxima-nova", "proxima-nova", Arial, Helvetica, sans-serif;
	color: #000;
	margin-bottom: 0;
}
main ul.links li, 
.field-name-field-tags ul li, 
.field-name-field-categories ul li,
.views-field-field-categories ul li,
.views-field-field-services ul li,
.views-field-field-provider-services ul li,
.views-field-field-tags ul li {
	list-style-type: none;
	list-style-image: none;
	display: inline-block;
	width: auto;
	margin-right: 5px;
	margin-left: 0;
	margin-bottom: 5px;
}
main ul.links li a, 
.field-name-field-tags li a,
.field-name-field-categories li a,
.views-field-field-categories li a,
.views-field-field-services li a,
.views-field-field-provider-services li a,
.views-field-field-tags li a {
	color: #0C233E;
	padding: 3px 8px;
	background-color: #eef6fe;
	font-weight: 400;
	text-transform: capitalize;
}
main ul.links li a:hover, 
.field-name-field-tags li a:hover,
.field-name-field-categories li a:hover,
.views-field-field-categories li a:hover,
.views-field-field-services li a:hover,
.views-field-field-provider-services li a:hover,
.views-field-field-tags li a:hover {
	background-color: #0C233E;
	color: #fff;
	text-decoration: none;
}

.views-field-field-tags li a,
main .field-name-field-tags ul.links li a {
	font-weight: 400;
	background-color: #fff;
	border: 1px solid #0C233E;
}
main .field-name-field-tags ul.links li a:hover,
.views-field-field-tags li a:hover {
	background-color: #0C233E;
	color: #fff;
	text-decoration: none;
}
.main .image, .main .field-name-field-video {
	margin-bottom: 20px;
}

article.node-resource {
	padding-bottom: 20px;
}
main article li.statistics_counter {
	display: none;
}
footer.row {
    max-width: 100%;
    color: #000;
    background-color: #EDEDED;
    margin-bottom: 0px;
    padding: 40px 0 0 0;
    border: medium none;
}

footer.row section {
	width: 60.625em;
	max-width: 100%;
	margin: 0 auto;
}
#subfooter.row {
	background-color: #0c304f;
	color: #fff;
	padding: 4px 0 4px 0;
}
footer p, footer .panel p {
	color: #000;
	font-size: 12px;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	font-weight: 400;
}
footer p a, footer .panel p a, footer a, footer .panel p a {
	color: #000;
}
footer p a:hover, footer .panel p a:hover, footer a:hover, footer .panel p a:hover {

}
#subfooter p, #subfooter .panel p {
	color: #ADD1FB;
	font-size: 12px;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	font-weight: 600;
	line-height: 30px;
}
.block-block-1 p {
	font-size: 12px;
	margin: 0;
	padding: 0;
}
#subfooter p a, #subfooter .panel p a, #subfooter a, #subfooter .panel p a {
	color: #ADD1FB;
}
#subfooter p a:hover, #subfooter .panel p a:hover, #subfooter a:hover, #subfooter .panel p a:hover {
	color:#FFF;
}
#fatfooter {
	margin-top: 40px;
	background-image:url(images/footer-01.png);
	padding-bottom: 15px;
}
.spacer {
	margin: 0 5px;
	text-align: center;
}
#mini-panel-fat_footer .panels-flexible-region-1-left1,
#mini-panel-fat_footer .panels-flexible-region-3-left1 {
	width: 50%;
	text-align: right;
}
#mini-panel-fat_footer .panels-flexible-region-last {
	width: 23%;
	text-align: right;
	float:right;
}
a.social {
	margin-left: 8px;
	font-size: 0px;
	text-indent: -9999px;
	display: inline-block;
	width: 25px;
	height: 24px;	
	cursor: pointer;
	cursor: hand;
}
a.social:hover {
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
	opacity: 0.9;
	text-decoration: none;
}
a.twitter {
	background: transparent url('../images/icon-twitter.png') no-repeat left top;
}
a.facebook {
	background: transparent url('../images/icon-facebook.png') no-repeat left top;
}

.block-views-related-resources-block {
	margin-top: 20px;
	padding-top: 30px;
	border-top: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.view-related-resources {
	margin-top: 20px;
	float: left;
	clear: left;
}
.view-related-resources .views-field-field-image,
.main .view-resources .views-field-field-image {
	width: 145px;
	float: right;
	margin-left: 20px;
}
.view-related-resources .views-field-field-image img,
.main .view-resources .views-field-field-image img {
	width: 145px;
}
.main .views-field-field-format {
	width: 75px;
	float: left;
}
.main .views-field-title {
	color: #0C233E;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 2px;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}
.main .view-content {
	overflow: hidden;
}
.main .views-row {
	float: left;
	clear: left;
	margin-bottom: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E7E7E6;
}

.view-providers-directory .views-row {
	width:100%;
	position:relative;
}

.view-providers-directory .views-row .views-row-inner {
	width:100%;
	max-width:none !important;
}

.main .views-field-title a {
	color: #0C233E;
}
.main .views-field-name, .main .views-field-field-attribution,
.main .views-field-created {
	color: #575756;
	text-transform: uppercase;
	font-weight: 400 !important;
	margin-bottom: 8px;
	font-size: 13px;
}
.view-news .views-field-created {
	margin-bottom: 15px;
}
.main .views-field-name a {
	color: #666;
}
.views-field-field-categories {
	margin: 0 0 8px 0;
}
.view-related-resources .views-field-title,
.view-related-resources .views-field-name,
.view-related-resources .views-field-field-attribution,
.view-related-resources .views-field-field-categories,
.main .view-resources .views-field-title,
.main .view-resources .views-field-name,
.main .view-resources .views-field-field-categories {
	margin: 0 145px 8px 75px;
}
.view-related-resources .views-field-body,
.main .view-resources .views-field-body {
	margin: 0 194px 0 75px;
	font-size: 13px;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	color: #666;
	width:435px;
	
}
.view-related-resources .views-field-body p,
.main .view-resources .views-field-body p {
	margin: 0;
	font-size: 13px;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	color: #575756;
}
.view-related-resources .views-field-field-rating,
.main .view-resources .views-field-field-rating {
	margin: 8px 0 0 75px;
	float: left;
	display: block;
	width: auto;
	min-width: 100px;
	height: 25px;
	overflow: hidden;
}
.views-field-field-rating .form-item {
	margin: 0;
}
.view-related-resources .views-field-field-tags,
.main .view-resources .views-field-field-tags
{
	margin: 5px 145px 0 15px;
	float: left;
	display: block;
	width: auto;
	height: 25px;
	overflow: hidden;
}
.view-related-resources .views-field-field-tags .item-list ul,
.main .view-resources .views-field-field-tags .item-list ul {
	margin: 0 0 0 0;
}
.view-related-resources .views-field-field-tags .item-list ul li,
.main .view-resources .views-field-field-tags .item-list ul li {
	margin-top: 0;
	margin-bottom: 0;
}
.view-related-resources .views-field-field-tags .item-list ul li a,
.main .view-resources .views-field-field-tags .item-list ul li a {
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 21px;
}
.selectBox-dropdown .selectBox-label {
	padding-top: 6px;
	padding-bottom: 0px;
	width: 420px;
	min-width: 420px;
	max-width: 100%;
}
.views-exposed-form .selectBox-dropdown .selectBox-label {
	min-width: 100%;
}
.selectBox-dropdown{
	width: 480px;
	min-width: 480px;
	max-width: 100%;
}

.selectBox-dropdown {
    background: #F1F1F1;
    border: 0px solid #F1F1F1;
    -moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
    box-shadow: 0 0 0 #FFF;
    color: #0C233E;
	font-weight: 600;
	font-size: 13px;
    cursor: default;
    display: inline-block;
    line-height: 1.5;
    max-width: 100%;
    min-width: 480px;
    width: 480px;
    outline: medium none;
    position: relative;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
	height: 30px;
}
.views-exposed-form .selectBox-dropdown {
    max-width: 100%;
    min-width: 150px;
    width: 150px;
}
.selectBox-dropdown .selectBox-arrow {
    background: url("../images/selectboxArrow@2x.png") no-repeat scroll 50% center rgba(0, 0, 0, 0);
    border-left: 0px solid #F1F1F1;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
	background-size: 34px 30px;
}
.selectBox-dropdown-menu {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #b2b2b2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    min-height: 1em;
    overflow: auto;
    position: absolute;
    z-index: 99999;
	width: auto !important;
}
.node-type-webform .selectBox-dropdown-menu {
	min-width: 400px !important;
}
.selectBox-options LI A {
    background: none no-repeat scroll 6px center rgba(0, 0, 0, 0);
    line-height: 1.5;
    overflow: hidden;
    padding: 0 0.5em;
    white-space: nowrap;
	font-size: 13px;
	color: #0C233E;
	font-weight: 600;
}
.selectBox-options LI A:hover {
	background-color: #d6e8fd;
	text-decoration: none;
}
.selectBox-options LI.selectBox-selected A {
    background-color: #d6e8fd;
}

.views-exposed-widget .selectBox-dropdown {
	min-width: 120px;
}
.page-resources h1#page-title {
	display: none;
}
.views-exposed-form {
	margin: 0px 0px 25px 0px;
	padding: 0 0 15px 0;
	border-top: none;
	border-bottom: 2px solid #CECECE;
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;
}
.form-item-sort-bef-combine label {
	display: none;
}
.views-exposed-form .views-exposed-widget {
	width: 21%;
	margin-right:0.5em;
	padding-top:0;
}

#edit-sort-bef-combine-wrapper {
	margin-right:0;
}

.views-exposed-form .views-exposed-widget input {
	margin-bottom: 0;
}
.views-exposed-form .views-exposed-widget.views-submit-button {
	display: none;
}
#edit-keys {
	background: transparent url('../images/search.png') no-repeat right 50%;
}
input#edit-keys {
	height: 30px;
    color: #0C233E;
	font-weight: 600;
	font-size: 12px;	   
	border: 0px;
    background: url("../images/searchIcon.png") no-repeat scroll right 50% #F1F1F1;	
	background-size: 35px 30px;
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;
}
.flag-save-provider a.flag {
	display: block;
	width: 23px;
	height: 23px;
	background: transparent url('images/icon_heart_off.png') no-repeat left top;
	text-indent: -9999px;
}
.flag-save-provider a.flagged, .flag-save-provider a.unflag-action, .flag-save-provider a.flag:hover {
	background: transparent url('images/icon_heart_on.png') no-repeat left top;
	text-decoration: none;
}
.flag-save-provider a.flagged:hover {
	background: transparent url('images/icon_heart_off.png') no-repeat left top;
	text-decoration: none;
}
.flag-save-provider .flag-message {
    position: absolute;
    top: 0px;
    line-height: normal;
    left: -150px;
    text-align: center;
    width: 150px;
    font-size: 13px;
	background-color: #4CC08F;
	color: #fff;
	padding: 5px;
	border-radius: 0px;
	border: 0px none;
}
.views-field-ops {
	float: right;
	width: auto;
}
.views-field-field-logo {
	float: left;
	width: auto;
	margin: 0 15px 15px 0;
}
.views-field-field-logo img {
	width: 100px;
}
.views-field-field-logo div {
	display: inline;
}
.views-row-inner {
	width: 100%;
	max-width: 530px;
}
.views-field-field-region {
	color: #575756;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 8px;
	font-size: 13px;
	display: inline;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}
.view-providers-directory .views-field-php {
	margin-left: 8px;
	color: #575756;
	font-weight: 400;
	font-size: 13px;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}
.views-field-field-services{
	margin: 10px 0;
}
.view-providers-directory .views-field-body {
	margin-left: 0;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
	line-height: 1.3;
}
.view-providers-directory .views-field-body p {
	color: #575756;
	font-size: 13px;
	line-height: 1.35;
	font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	margin-bottom:0;
}
#provider-logo {
	float: left;
	width: 100px;
	height: 100%;
}
#provider-remain {
	margin-left: 115px;
	max-width: 440px;
}
#provider-logo .wrapper {
	width: 100px;
	height: 65px;
	float: left;
}
#save-provider {
	display: block;
	width: auto;
	float: right;
	margin-right: -150px;
}
h1.node-title {
	font-size: 18px;
	
}
#provider-remain .field-name-field-region {
	color: #575756;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 8px;
	font-size: 13px;
	display: inline;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}
#provider-remain .no-consultants {
	margin-left: 8px;
	color: #575756;
	font-weight: 400;
	font-size: 13px;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	display: inline;	
}
.field-name-field-services {
	margin: 8px 0 15px 0;
}
.vcard {
	margin-bottom: 0;
	border: 0px none;
	padding: 0 0;
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 13px;
}
#provider-remain .field-name-field-telephone {
	line-height:1.3rem;
	font-size:13px;
	color:#575756;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	margin-bottom:10px;
}
#provider-remain .social {
	margin: 0 0 15px 0;
}
.social a {
	display: inline-block;
	width: 20px;
	height: 21px;
	margin-right: 3px;
	text-indent: -9999px;
}
.social a.email {
	background: transparent url('images/icon_email.png') no-repeat left top;
}
.social a.facebook {
	background: transparent url('images/icon_fb.png') no-repeat left top;
}
.social a.twitter {
	background: transparent url('images/icon_twitter.png') no-repeat left top;
}
.social a.linkedin {
	background: transparent url('images/icon_linkedin.png') no-repeat left top;
}
#provider-remain .field-name-field-introduction {
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;	
	color: #000;
	margin: 0 0 15px 0;
	font-size: 15px;
	line-height: 1.3;
}
#provider-remain .body {
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;	
	color: #666;
	margin: 0 0 15px 0;
	font-size: 13px;
	line-height: 1.5;
}
#provider-remain .body p {
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;	
	color: #575756;
	font-size: 13px;
	font-weight:400;
}
.block-views-consultants-block {
	margin-left: 115px;
	max-width: 440px;
}
.block-views-consultants-block h2.block-title {
	padding:0 0 0 10px;
	height:36px;
	line-height:36px;
	background: #EDEDED;
	text-transform: none;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	font-weight:600;
	margin-bottom:25px;
}
.block-views-consultants-block .views-field-picture img {
	width: 188px;
}
.block-views-consultants-block .views-field-picture {
	width: 188px;
	height: 125px;
	overflow: hidden;
}
.block-views-consultants-block .views-row {
	float: left;
	clear: none;
	width: 188px;
	margin-right: 15px;
	margin: 0 15px 15px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: solid 2px #C6C6C6;
}
.block-views-consultants-block .views-field-name {
	color: #000;
	text-transform: none;
	font-size: 16px;
	font-weight:600 !important;
	margin: 10px 0;
}

.block-views-consultants-block .views-field-field-services {
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 0px;
}

.block-views-consultants-block .views-field-field-provider-services{
	height:65px;
}

.block-views-consultants-block .views-field-field-services div,
.block-views-consultants-block .views-field-field-services ul {
	display: inline;
}
.block-views-consultants-block .views-field-field-services ul li {
	margin-right: 4px;
}
.views-field-mail a {
	line-height: 18px;
	display: inline-block;
	width: 20px;
	height: 21px;
	text-indent: -9999px;
	background: transparent url('images/icon_email.png') no-repeat left top;
}
.columns.siteheader {
	float: right;
	padding-left: 0;
	padding-right: 0;
	text-align: right;
	position:relative;
}
#search-api-page-search-form-search .form-type-textfield input {
	width: 37px;
	height: 33px;
	line-height: 33px;
	color: #000;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: #EDEDED;
	padding-right: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	border: 0px none;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
	position:absolute;
	top:0;
	left:0;
}
#search-api-page-search-form-search .form-type-textfield input.active {
	background-color: #808080;
	color: #fff;
	font-weight: 600;
}
#search-api-page-search-form-search .form-type-textfield {
}
#search-api-page-search-form-search button {
	height: 33px;
	line-height: 33px;
	display: block;
	width: 37px;
	text-indent: -9999px;
	color: #FFF;
	background: #0C304F url('../images/searchIcon.png') no-repeat center 50%;
	padding: 0;
	margin: 0 0 0 0;
	position:absolute;
	top:0;
	right:0;
	z-index:1;
}
#search-api-page-search-form-search {
	width: 100%;
	max-width: 270px;
}
.block-search-api-page-search {
	float: right;
	width: 37px;
	height:33px;
	padding: 0;
	margin: 0 0 0 0;
	position: absolute;
	right: 0;
	top: 50px;	
}
.search-api-page-results > h2 {
	display: none;
}
.page-sitesearch h1#page-title, #search-api-page-search-form .form-type-textfield > label {
	display: none;
}
.page-sitesearch #search-api-page-search-form {
	display: none;
}
ol.search-results {
	margin: 15px 0 0 0;
}
.search-results li.search-result {
	float: left;
	clear: left;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #E7E7E6;
	max-width: 470px;
	width: 100%;
}
.search-results li.search-result h3.title {
	color: #000;
	font-size: 16px;
	font-weight: 700;
}
.search-results li.search-result h3.title a {
	color: #000;
}
.search-image {
	float: left;
	width: 140px;
}
.search-image img {
	float: left;
	width: 125px;
}
.search-results .search-snippet-info {
	margin-left: 140px;
}
.search-results .search-snippet-info, .search-results .search-snippet-info p {
	padding-left: 0;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.3;
	color: #000;
	margin-bottom: 0;
}
.search-results .search-snippet-info.noimage {
	margin-left: 0;
}
.item-list .facetapi-facetapi-links li {
	list-style-type: none;
	list-style-image: none;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 600;
	padding: 8px 0;
}
.item-list .facetapi-facetapi-links li:first-child {
	margin-top: 12px;
}
.node-page h1.node-title {
	font-size: 28px;
	color:#3d9ff7;
	margin-bottom:10px;
	
}
article .field-name-field-introduction, article .field-name-field-introduction p {
	font-size: 18px;
	font-weight: 600;
	color: #0c304f;
}

.flag-submit-diagnostic-report a.flag, a#edit-cancel,
button#edit-submit-dialog, button#edit-cancel-dialog {
    background-color: #C6C6C6;
    border: medium none;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: normal !important;
    line-height: normal;
    margin: 0 0 1.25rem;
    padding: 1.0625rem 2rem 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 300ms ease-out 0s;
}
.flag-submit-diagnostic-report a.flag:hover, a#edit-cancel:hover {
	text-decoration: none;
	background-color: #999;
}
#submit-report {
	float: left;
	clear: left;
	width: 100%;
	padding: 15px;
	background-color: #F9F9F9;
}
.page-flag-confirm h1#page-title {
	font-size: 18px;
}
.flag-connected-consultants a.flag {
	padding: 5px;
	color: #ADD1FB;
	background-color: #0C233E;
	transition: background-color 300ms ease-out 0s;
	font-size: 10px;
	text-transform: uppercase;
}
.flag-connected-consultants a.flag:hover {
	background-color: #eef6fe;
	color:#0C233E;
	text-decoration: none;
}

.form-item-field-address-und-0-delete-location {
	display: none;
}
input[type="file"] {
	display: inline-block;
	width: 220px;
}
button.ajax-processed {
	padding: 5px;
	background-color: #e7e7e7;
	color: #000;
	font-size: 13px;	
}
button.ajax-processed:hover {
	background-color: #b9b9b9;
}
.form-managed-file .form-item {
	margin: 1em 0;
}
.field-name-field-download .tabledrag-toggle-weight-wrapper {
	display: none;
}
.field-name-field-download .fieldset-description {
	margin-bottom: 15px;
}
.field-name-field-download .form-item > .description {
	margin-top: 15px;
}
.ui-dialog {
	border-radius: 0px !important;
	padding: 0px !important;
}
.ui-widget-header {
	background: #000 !important;
	border: 0px !important;
	color: #fff !important;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif !important;
	border-radius: 0px !important;
}
.ui-dialog .ui-dialog-title {
	margin: 0;
}
#flagging-form-flagging-form-dialog {
	margin-top: 12px;
}

/***************** FRONT PAGE ****************/

.front #node-92 {
	display: none;
}
.front .main > ul.button-group {
	display: none;
}
.flexslider {
	border: 0px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	box-shadow: 0 0 0 #fff;
	margin: 0px;
}
.front .panels-flexible-region-2-center {
	width: 100%;
}
#hero.flexslider .slides > li {

}
#hero.flexslider .slides > li .views-field-title {
	position: absolute;
	width: auto;
	display: block;
	padding: 5px 20px 5px 20px;
	color:#FFF;
	bottom: 20px;
	left: 20px;
	font-size: 28px;
	margin-bottom:0;
	background-image: url(images/slider_txt_bg.png);
}

#hero.flexslider .slides > li .views-field-title a {
	color:#FFF;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif !important;
	font-size:36px;
	font-weight:600;
}
#hero.flexslider .flex-control-nav {
	bottom: 20px;
	right: 20px;
	width: auto;
	z-index: 10;
}
#hero.flexslider .flex-control-paging li {
	margin: 0 4px;
}
#hero.flexslider .flex-control-paging li a {
	background: none repeat scroll 0 0 rgba(12, 35, 62, 1);
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	box-shadow: 0 0 0 #000;
	width:16px;
	height:16px;
}
#hero.flexslider .flex-control-paging li a.flex-active {
	background: none repeat scroll 0 0 rgba(132, 1850, 250, 1);
}
.flex-direction-nav a {
	height: 60px;
}
#mini-panel-front_page .panels-flexible-row-2-1 {
	margin-top: 15px;
}
#mini-panel-front_page .panels-flexible-row-2-1 .panels-flexible-region {
	width: 33.33% !important;
}
#mini-panel-front_page .panels-flexible-row-2-1 .panel-pane {
	padding: 15px;
}
#mini-panel-front_page .panels-flexible-row-2-1 .panel-pane h2 {
	font-size: 22px;
	margin-top: 8px;
	line-height: 1.2;
	max-width: 285px;
	font-weight: 600;
	color: #FFF;
}
#mini-panel-front_page .panels-flexible-row-2-1 .panel-pane {
	position: relative;
	height: 200px;
}

#mini-panel-front_page .panels-flexible-row-2-1 .pane-1 {
	background-color:#328BF6;
}

#mini-panel-front_page .panels-flexible-row-2-1 a {
	color: #fff;
}

#mini-panel-front_page .panels-flexible-row-2-1 .pane-2 {
	background-color:#DD43CE;
}

#mini-panel-front_page .panels-flexible-row-2-1 .pane-3 {
	background-color:#04B57A;
}

a.icon {
	display: block;
	position: absolute;
	bottom: 0px;
	right: 5px;	
	text-indent: -9999px;
}
a.icon.document {
	width: 68px;
	height: 83px;
	background: transparent url('images/icon_document.png') no-repeat left top;
}
a.icon.folder {
	width: 91px;
	height: 63px;
	right: 0px;
	background: transparent url('images/icon_folder.png') no-repeat left top;
}
a.icon.spanner {
	width: 82px;
	height: 82px;
	background: transparent url('images/icon_spanner.png') no-repeat left top;
}
a.icon:hover {
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
	opacity: 0.9;
}
#mini-panel-front_page .panels-flexible-row-2-2 {
	margin-top: 15px;
}
#mini-panel-front_page .panels-flexible-region-2-slider {
	width: 66.66% !important;
}
#guide.flexslider .slides .views-field-field-image img {
	width: 150px;
	height: 150px;
}
#guide.flexslider .slides .views-field-field-image {
	float: left;
	margin-left: 25px;
	margin-bottom: 25px;
}
.pane-guide-slider {
	background-color: #D6D7D6;
	background-image:url(images/guide_slider_bg-01.png);
}
#guide.flexslider {
	background-color: transparent;
}
#guide.flexslider .flex-control-nav {
	display: none;
}
#guide.flexslider ul.slides {
	padding: 0 40px;
	height:283px;
}
#guide.flexslider .slides .views-field-title {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 28px;
	margin: 20px 25px 20px 25px;
	font-weight:600;
}
#guide.flexslider .slides .views-field-field-description {
	font-size: 16px;
	color: #000;
	margin-left: 200px;
	margin-right: 25px;
	line-height: 1.4em;
	font-weight: 300;
}
#guide.flexslider .slides .views-field-field-slide-link {
	font-size: 18px;
	color: #fff;
	width: 160px;
	height: 55px;
	display: block;
	margin-top: 20px;
	float: left;
	margin-left: 25px;
}
#guide.flexslider .slides .views-field-field-slide-link a {
	color: #fff;
	display: block;
	padding: 10px 20px 10px 10px;	
	background-color: #0C233E;
	line-height: 1.2;	
	font-weight: 600;
	background-image:url(images/guide_slider_arrow.png);
	background-repeat:no-repeat;
	background-position:95% center;
}
#guide.flexslider .slides .views-field-field-slide-link a:hover {
	text-decoration: none;
}
.panels-flexible-region-2-twitter-inside .pane-content {
	background-color: #ADD1FB;
	padding: 10px;
	height: 283px;
	overflow: hidden;
}
.twitter-header {
	line-height: 30px;
	height: 30px;
	display: block;
	color: #000;
	padding-left: 40px;
	background-image: url('images/twitter_logo.png');
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 21px 17px;
	background-position: left 50%;
	font-weight: 600;
	font-size: 16px;
}

.stream {
	background-color: #D6E8FD !important;
}

.panels-flexible-region-1-left2 {
	float: left;
	width: 23.75%;
}

.panels-flexible-region-1-left1 {
	float: left;
	width: 36.75%;
}

.flex-direction-nav a {
	width:35px;
	height:35px;
	text-indent:-9999px;
}

.flex-prev {
	background-image:url(images/guide_slider_prev.png);
}

.flex-next {
	background-image:url(images/guide_slider_next.png);
	text-align: left !important;
}

.flex-direction-nav a:before {
	display:none;
}

#edit-keys-wrapper {
	width:33%;
}

.views-exposed-form .views-exposed-widget {
float: left;
padding-right:0 !important;
}

.fivestar-outline div.fivestar-widget-static .star {
width: 14px !important;
}

.pagination-centered {
border-top: double 3px #A6A6A5;
border-bottom: solid 2px #A6A6A5;
float: left;
width: 100%;
}

.item-list ul {
margin: 3px 0 6px 0 !important;
}

ul.pagination li.current a {
background: #0C233E;
color: white;
font-weight: 400;
cursor: default;
font-size:14px;
-webkit-border-radius: 0px;
border-radius: 0px;
}

.item-list .pager {
	clear: both;
	text-align: right;
}

ul.pagination li a {
display: block;
padding: 0.0625rem 0.625rem 0.0625rem;
color: #575756;
-webkit-border-radius: 3px;
border-radius: 3px;
}

footer .form-type-textfield.form-item-mergevars-EMAIL label {
	display:none;
}

footer #edit-mergevars-email,
footer #edit-mergevars-email--1,
footer #edit-mergevars-email--2 {
	width:130px;
	height:23px;
	border: none;
	background-color: #FFF;
	font-size:13px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #328BF6;
}

footer .mailchimp-signup-subscribe-form .form-submit,
footer .mailchimp-signup-subscribe-form #edit-submit,
footer .mailchimp-signup-subscribe-form #edit-submit--1,
footer .mailchimp-signup-subscribe-form #edit-submit--2 {
	height:23px !important;
	width:60px !important;
	font-size:12px !important;
	float:left !important;
	padding:0 !important;
	color:#FFF !important;
	text-transform: none !important;
	background-color:#328BF6 !important;
}

footer .mailchimp-signup-subscribe-form .form-type-textfield {
	margin-top:0;
}
#mailchimp-signup-subscribe-block-subscribe-form {
	float: right;
}

footer #mailchimp-newsletter-421509-mergefields {
	float:left;
}
#mailchimp-signup-subscribe-page-subscribe-to-our-newsletter-form h2 {
	color: #328bf6;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
}

.center-wrapper {
	float:left;
	width:83%;
}

.view-providers-directory .view-header {
	border-bottom: 2px solid #CECECE;
	margin-bottom:25px;
	font-weight:300;
	font-size:16px;
	color:#575756;
}

.view-providers-directory .view-header p{
	margin-bottom:15px;
	font-weight:300;
	font-size:16px;
	color:#575756;
}

.view-providers-directory .view-header h2{
	font-weight:600;
	font-size:28px;
	color:#0C233E;
}

.view-providers-directory .view-header .left{
	width:390px;
}

.view-providers-directory .view-header .right{
	width:270px;
	margin-top: 55px;
	margin-bottom: 25px;
}

.view-providers-directory .views-exposed-form {
	border-bottom:none !important;
	padding-bottom:0;
}

.view-providers-directory .views-field-ops {
	position:absolute;
	top:10px;
	right:0;
}

.view-providers-directory .views-field-field-logo {
	margin-bottom:0;
}

.panel.callout {
	border:none !important;
	margin-bottom: 0;
	padding: 10px;
	background: #ADD1FB;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	color:#0C233E;
	font-size:14px;
	font-weight:400;
	line-height:1.4em;
	background-image:url(images/icon_heart_on.png);
	background-repeat:no-repeat;
	background-position: 245px 10px;
	background-position: 235px 12px;
	padding-right: 80px;
}

#backlink .button.grey {
	background-image:url('../images/backlink-arrow.png') !important;
background-color: #EDEDED !important;
background-repeat: no-repeat !important;
background-position: 12px 50% !important;
padding: 8px 12px 6px 28px;
color:#000 !important;
font-size: 12px;
font-weight: 400 !important;
text-transform: uppercase;
margin-bottom: 0px;
}

.node-provider .node-title {
	color: #0C233E;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 2px;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}

.node-provider .field-name-field-provider-services {
	margin: 8px 0 8px 0;
}


.node-provider .adr {
	line-height:1.3rem;
	font-size:13px;
	color:#575756;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}

.node-provider .adr .fn {
	line-height:1.3rem;
	font-size:13px;
	color:#575756;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	font-weight:600;
}

img.sponsor {
	display:inline;
	float:left;

}

.sibgroup {
	margin-top: -16px;
}

.biglottery {
	margin-top: -28px;
	margin-left:20px
}

.nationallottery {
	margin-top: 2px;
	margin-left:20px;
}

@media only screen and (min-width: 40.063em) {
	.contain-to-grid .top-bar {
		max-width: 67.5rem;
	}	
}

@media only screen and (max-width: 40em) {
	.selectBox-dropdown {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}
}

@media only screen and (min-width: 64.063em) {
.large-9.large-push-3.main.columns {
	padding-left: 1.5rem !important;
	padding-right: 0;
}
}