body {
	font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	color: #575756;
}
p {
	line-height: 1.5;
	color: #575756;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.5;
	color: #000;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 19px;
}
h4 {
	font-size: 17px;
}
h5 {
	font-size: 16px;
}
hr {
	margin: 25px 0;
}
h2.block-title {
	padding: 12px 18px;
	text-transform: uppercase;
	font-weight: 600 !important;
	font-size: 15px;
	background: #C6C6C6;
}
.body ul {
	margin-bottom: 20px;
}
.body a {
	text-decoration: underline;
	font-weight: 600;
	color: #575756;
}
.body a:hover, .body a:focus {
	text-decoration: none;
	font-weight: 600;
	color: #575756;
}
article .body h2 {
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 600;
}
a {
	color: #000;
}
a:hover, a:focus {
	text-decoration: underline;
	color: #000;
}
.row {
  max-width: 67.5rem;
}
#user-menu-bar {
	height: 36px;
	overflow: hidden;
	background-color: #0C304F;
	margin-bottom: 22px;
}
#secondary-menu ul {
	margin: 0;
	paddding: 0;
}
#secondary-menu ul li {
	list-style-type: none;
	list-style-image: none;
	float: right;
	display: block;
	padding: 0px;
	margin: 6px 0 0 8px;
	color: #000;
	width: auto;
	font-size: 11px;
	font-weight: 600;
}
#secondary-menu ul li a {
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	color: #B9D9FB;

}
#secondary-menu ul li a:hover, #secondary-menu ul li.active a, #secondary-menu ul li.active-trail a {
	color: #fff;
	background-color: #3D9FF7;
	text-decoration: none;
}
.large-12.columns {
	padding-left: 0;
	padding-right: 0;
}
#admin-menu, #admin-menu ul, #admin-menu ul li, #admin-menu ul li a {
	/* Fix b0rking of admin menu caused by Zurb */
	font-size: 9px !important;
}

#menubar {
	background-color: #FFF;
}

#menubar nav {
	max-width: 67.5em;
	margin: 22px auto 22px auto;
	padding: 0px 0px;
	background-color: transparent !important;
}

#menubar nav li, #menubar nav li a {
	color: #000;
}

#main-menu ul {
	background-color: transparent !important;
	width: 100%;
	margin: 0;
}

#main-menu li a, #main-menu li a:not(.button) {
	background-color: transparent;
}

#main-menu ul li > a {
    display: block;
    width: 100%;
    color: #000;
    padding: 8px 0px 8px 0;
    font-size: 18px;
    font-weight: 600;
    background: none repeat scroll 0% 0% #DCDCDC;
	text-align: center;
}

#main-menu ul li > a:hover,
#menubar nav li a:hover,
#menubar nav li.active a,
#menubar nav li.active-trail a {
	background-color: #FFF !important;
	color: #0C304F;
	text-decoration: none;
}

#main-menu li {
	width: 25%;
	margin: 0;
}

#main-menu li {
	border-right: none;
	text-transform: uppercase;
}

#main-menu li:last-child {
	border-right: 0px none;
}

aside.sidebar-first {
	float: left;
	padding-left: 0;
	padding-right:0;
}
.sidebar section {
	padding: 0px;
	margin-bottom: 20px;
}

.block-menu-block-1  {
	background-color:#F3F3F3;
}

.menu-block-wrapper {
	padding: 0 0 0 0;
}
.sidebar ul.menu {
	margin: 0px;
	list-style-position: none;
}
.sidebar ul.menu li {
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	list-style-type: none;
	list-style-image: none;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
	border-bottom: solid 4px #FFF;
}
.sidebar ul.menu li a {
	color: #000;
	padding: 0 0 0 20px;
	display: block;
	line-height:46px;
}
.sidebar ul.menu li a:hover, .sidebar ul.menu li a:focus, .sidebar ul.menu li.active a, .sidebar ul.menu li a.active {
	background-color: #0C304F !important;
	text-decoration: none;
	color:#DCECFC;
}
main.row {

}
.sidebar section.block-block-2, .sidebar section.block-block-4, .sidebar section.block-block-5, .sidebar section.block-block-6 {
	padding: 0;
}
.sidebar section .button {
	margin-bottom: 15px;
	width: 100%;
	text-align: left;
	padding: 22px 18px;
	font-weight: 600 !important;
	font-size: 15px;
}
.button.grey {
	background-color: #C6C6C6;
	color: #000;
}
.button.lightgrey {
	background-color: #F9F9F9;
	color: #000;
}
.button.grey:hover, .button.grey.arrow:hover {
	background-color: #999;
	text-decoration: none;
}
.button.grey.arrow {
	background: #B64CAA url('../images/bp_wf_arrow.png') no-repeat right 50%;
	color:#F9E1F6;
}
ul.button-group {
	margin-bottom: 18px;
	/* border-bottom: 1px solid #3D3D3A; */
}
ul.button-group li a {
	display: block;
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #C6C6C6;
	font-weight: normal;
	font-size: 13px;
	margin-right: 5px;
}
ul.button-group li a:hover {
	text-decoration: none;
}
ul.button-group li a.active {
	background-color: #000;
}
.node-type-diagnostic ul.button-group {
	display: none;
}

.field-name-field-caption {
	background-color: #C6C6C6;	
	color: #000;
	font-size: 12px;
	padding: 5px 10px;
	margin: 0 0 8px 0;
}
.form-item-vote a.selectBox {
	display: none !important;
}
.sidebar section .view-content {
	padding: 15px;
}
.sidebar section .views-row {
	padding: 0 0 15px 0;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.1;
}
.sidebar section .views-row a {
	color: #666;
}
.link-arrow {
	display: inline-block;
	margin-left: 8px;
	width: 9px;
	height: 12px;
	background: transparent url('../images/link-arrow.png') no-repeat left bottom;
}
#backlink {
	padding: 12px 0 12px 0;
	border-top: 2px solid #CECECE;
	border-bottom: 2px solid #CECECE;
	margin-bottom: 12px;
}
#backlink .button.grey {
	background: #EDEDED url('../images/backlink-arrow.png') no-repeat 12px 50%;
	padding: 12px 12px 12px 28px;
	font-size: 12px;
	font-weight: 600 !important;
	text-transform: uppercase;
	margin-bottom: 0px;
}
#backlink .button.grey:hover, #backlink .button.grey:focus {
	background-color: #9D9D9C;
	text-decoration: none;
}
#resource-icon {
	float: left;
	width: 60px;
	height: 100%;
}
#resource-remain {
	margin-left: 75px;
	max-width: 440px;
}
#resource-icon .wrapper {
	width: 60px;
	height: 65px;
	float: left;
}
#author {
	margin: 5px 0;
}
#author a {
	color: #666;
	text-transform: uppercase;
	font-weight: 600 !important;
}
.node-type-resource .body, .node-type-resource .body p {
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #666;
}
.field-name-field-tags, .field-name-field-categories {
	margin: 10px 0 15px 0;
}
.views-field-field-provider-services {
	margin-top: 10px;
}
main ul.links, 
.field-name-field-tags ul, 
.field-name-field-categories ul, 
.views-field-field-categories ul,
.views-field-field-tags ul,
.views-field-field-services ul,
.views-field-field-provider-services ul {
	margin-left: 0;
	font-size: 11px;
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;
	color: #000;
	margin-bottom: 0;
}
main ul.links li, 
.field-name-field-tags ul li, 
.field-name-field-categories ul li,
.views-field-field-categories ul li,
.views-field-field-services ul li,
.views-field-field-provider-services ul li,
.views-field-field-tags ul li {
	list-style-type: none;
	list-style-image: none;
	display: inline-block;
	width: auto;
	margin-right: 5px;
	margin-left: 0;
	margin-bottom: 10px;
}
main ul.links li a, 
.field-name-field-tags li a,
.field-name-field-categories li a,
.views-field-field-categories li a,
.views-field-field-services li a,
.views-field-field-provider-services li a,
.views-field-field-tags li a {
	color: #000;
	padding: 3px 5px;
	background-color: #C6C6C6;
	font-weight: 600;
	text-transform: capitalize;
}
main ul.links li a:hover, 
.field-name-field-tags li a:hover,
.field-name-field-categories li a:hover,
.views-field-field-categories li a:hover,
.views-field-field-services li a:hover,
.views-field-field-provider-services li a:hover,
.views-field-field-tags li a:hover {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

.views-field-field-tags li a,
main .field-name-field-tags ul.links li a {
	font-weight: 400;
	background-color: #fff;
	border: 1px solid #CCC;
}
main .field-name-field-tags ul.links li a:hover,
.views-field-field-tags li a:hover {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}
.main .image {
	margin-bottom: 15px;
}

article.node-resource {
	padding-bottom: 20px;
}
main article li.statistics_counter {
	display: none;
}
footer.row {
    max-width: 100%;
    color: #000;
    background-color: #EDEDED;
    margin-bottom: 0px;
    padding: 20px 0;
    border: medium none;
}

footer.row section {
	width: 67.5em;
	max-width: 100%;
	margin: 0 auto;
}
#subfooter.row {
	background-color: #3C3C3B;
	color: #fff;
	padding: 10px 0;
}
footer p, footer .panel p {
	color: #000;
	font-size: 12px;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	font-weight: 600;
}
footer p a, footer .panel p a, footer a, footer .panel p a {
	color: #000;
}
footer p a:hover, footer .panel p a:hover, footer a:hover, footer .panel p a:hover {

}
#subfooter p, #subfooter .panel p {
	color: #fff;
	font-size: 12px;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	font-weight: 600;
}
.block-block-1 p {
	font-size: 12px;
	margin: 0;
	padding: 0;
}
#subfooter p a, #subfooter .panel p a, #subfooter a, #subfooter .panel p a {
	color: #fff;
}
#subfooter p a:hover, #subfooter .panel p a:hover, #subfooter a:hover, #subfooter .panel p a:hover {

}
#fatfooter {
	margin-top: 40px;
}
.spacer {
	margin-right: 10px;
}
#mini-panel-fat_footer .panels-flexible-region-1-center {
	width: 32%;
	text-align: right;
}
#mini-panel-fat_footer .panels-flexible-region-last {
	width: 18%;
	text-align: right;
}
a.social {
	margin-right: 8px;
	font-size: 0px;
	text-indent: -9999px;
	display: inline-block;
	width: 25px;
	height: 24px;	
	cursor: pointer;
	cursor: hand;
}
a.social:hover {
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
	opacity: 0.9;
	text-decoration: none;
}
a.twitter {
	background: transparent url('../images/icon-twitter.png') no-repeat left top;
}
a.facebook {
	background: transparent url('../images/icon-facebook.png') no-repeat left top;
}

.block-views-related-resources-block {
	margin-top: 20px;
	padding-top: 30px;
	border-top: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.view-related-resources {
	margin-top: 20px;
}
.view-related-resources .views-field-field-image,
.main .view-resources .views-field-field-image {
	width: 145px;
	float: right;
}
.view-related-resources .views-field-field-image img,
.main .view-resources .views-field-field-image img {
	width: 145px;
}
.main .views-field-field-format {
	width: 75px;
	float: left;
}
.main .views-field-title {
	color: #000;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}
.main .view-content {
	overflow: hidden;
}
.main .views-row {
	float: left;
	clear: left;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #E7E7E6;
}
.main .views-field-title a {
	color: #000;
}
.main .views-field-name {
	color: #666;
	text-transform: uppercase;
	font-weight: 500 !important;
	margin-bottom: 8px;
	font-size: 15px;
}
.main .views-field-name a {
	color: #666;
}
.views-field-field-categories {
	margin: 0 0 8px 0;
}
.view-related-resources .views-field-title,
.view-related-resources .views-field-name,
.view-related-resources .views-field-field-categories,
.main .view-resources .views-field-title,
.main .view-resources .views-field-name,
.main .view-resources .views-field-field-categories {
	margin: 0 145px 8px 75px;
}
.view-related-resources .views-field-body,
.main .view-resources .views-field-body {
	margin: 0 145px 0 75px;
	font-size: 14px;
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;
	color: #666;
	
}
.view-related-resources .views-field-body p,
.main .view-resources .views-field-body p {
	margin: 0;
	font-size: 14px;
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;
	color: #666;
}
.view-related-resources .views-field-field-rating,
.main .view-resources .views-field-field-rating {
	margin: 8px 0 0 75px;
	float: left;
	display: block;
	width: auto;
	min-width: 100px;
	height: 25px;
	overflow: hidden;
}
.views-field-field-rating .form-item {
	margin: 0;
}
.view-related-resources .views-field-field-tags,
.main .view-resources .views-field-field-tags
{
	margin: 8px 145px 0 15px;
	float: left;
	display: block;
	width: auto;
	height: 25px;
	overflow: hidden;
}
.view-related-resources .views-field-field-tags .item-list ul,
.main .view-resources .views-field-field-tags .item-list ul {
	margin: 0 0 0 0;
}
.view-related-resources .views-field-field-tags .item-list ul li,
.main .view-resources .views-field-field-tags .item-list ul li {
	margin-top: 0;
	margin-bottom: 0;
}
.view-related-resources .views-field-field-tags .item-list ul li a,
.main .view-resources .views-field-field-tags .item-list ul li a {
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 21px;
}
.selectBox-dropdown .selectBox-label {
	padding-top: 4px;
	padding-bottom: 0px;
}
.selectBox-dropdown{
	width: 480px;
	min-width: 480px;
	max-width: 100%;
}
.views-exposed-widget .selectBox-dropdown {
	min-width: 120px;
}
.page-resources h1#page-title {
	display: none;
}
.views-exposed-form {
	margin: 0px 0px 25px 0px;
	padding: 15px 0;
	border-top: 2px solid #CECECE;
	border-bottom: 2px solid #CECECE;
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;
}
.form-item-sort-bef-combine label {
	display: none;
}
.views-exposed-form .views-exposed-widget {
	width: 25%;
}
.views-exposed-form .views-exposed-widget input {
	margin-bottom: 0;
}
.views-exposed-form .views-exposed-widget.views-submit-button {
	display: none;
}
#edit-keys {
	background: transparent url('../images/search.png') no-repeat right 50%;
}
.flag-save-provider a.flag {
	display: block;
	width: 15px;
	height: 23px;
	background: transparent url('../images/flag.png') no-repeat left top;
	text-indent: -9999px;
}
.flag-save-provider a.flagged, .flag-save-provider a.unflag-action, .flag-save-provider a.flag:hover {
	background: transparent url('../images/flagged.png') no-repeat left top;
	text-decoration: none;
}
.flag-save-provider a.flagged:hover {
	background: transparent url('../images/flag.png') no-repeat left top;
	text-decoration: none;
}
.flag-save-provider .flag-message {
    position: absolute;
    top: 20px;
    line-height: normal;
    right: 20px;
    text-align: center;
    width: 150px;
    font-size: 13px;
	background-color: #CCC;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #000;
}
.views-field-ops {
	float: right;
	width: auto;
}
.views-field-field-logo {
	float: left;
	width: auto;
	margin: 0 15px 15px 0;
}
.views-field-field-logo img {
	width: 100px;
}
.views-field-field-logo div {
	display: inline;
}
.views-row-inner {
	width: 100%;
	max-width: 530px;
}
.views-field-field-region {
	color: #666;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 8px;
	font-size: 15px;
	display: inline;
}
.view-providers-directory .views-field-php {
	margin-left: 8px;
	font-size: 11px;
	color: #000;
}
.views-field-field-services{
	margin: 10px 0;
}
.view-providers-directory .views-field-body {
	margin-left: 115px;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
	line-height: 1.3;
}
.view-providers-directory .views-field-body p {
	color: #666;
	font-size: 14px;
	line-height: 1.3;
}
#provider-logo {
	float: left;
	width: 100px;
	height: 100%;
}
#provider-remain {
	margin-left: 115px;
	max-width: 440px;
}
#provider-logo .wrapper {
	width: 100px;
	height: 65px;
	float: left;
}
#save-provider {
	display: block;
	width: auto;
	float: right;
}
h1.node-title {
	font-size: 18px;
	
}
#provider-remain .field-name-field-region {
	color: #666;
	text-transform: uppercase;
	display: inline;
	margin-right: 10px;
	font-weight: 500;
	margin-bottom: 8px;
	font-size: 15px;	
}
#provider-remain .no-consultants {
	display: inline;
	font-size: 11px;
	color: #000;	
}
.field-name-field-services {
	margin: 8px 0 15px 0;
}
.vcard {
	margin-bottom: 0;
	border: 0px none;
	padding: 0 0;
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 13px;
}
#provider-remain .field-name-field-telephone {
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;	
	color: #666;
	margin: 15px 0;
	font-size: 13px;
}
#provider-remain .social {
	margin: 0 0 15px 0;
}
.social a {
	display: inline-block;
	width: 20px;
	height: 21px;
	margin-right: 5px;
	text-indent: -9999px;
}
.social a.email {
	background: transparent url('../images/socialemail.png') no-repeat left top;
}
.social a.facebook {
	background: transparent url('../images/socialfacebook.png') no-repeat left top;
}
.social a.twitter {
	background: transparent url('../images/socialtwitter.png') no-repeat left top;
}
.social a.linkedin {
	background: transparent url('../images/sociallinkedin.png') no-repeat left top;
}
#provider-remain .field-name-field-introduction {
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;	
	color: #000;
	margin: 0 0 15px 0;
	font-size: 15px;
	line-height: 1.3;
}
#provider-remain .body {
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;	
	color: #666;
	margin: 0 0 15px 0;
	font-size: 13px;
	line-height: 1.5;
}
#provider-remain .body p {
	font-family: "proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;	
	color: #666;
	font-size: 13px;
}
.block-views-consultants-block {
	margin-left: 115px;
	max-width: 440px;
}
.block-views-consultants-block h2.block-title {
		padding: 10px 0;
		border-top: 1px solid #C6C6C6;
		border-bottom: 1px solid #C6C6C6;
		background: #fff;
		text-transform: none;
}
.block-views-consultants-block .views-field-picture img {
	width: 188px;
}
.block-views-consultants-block .views-field-picture {
	width: 188px;
	height: 125px;
	overflow: hidden;
}
.block-views-consultants-block .views-row {
	float: left;
	clear: none;
	width: 188px;
	margin-right: 15px;
	margin: 15px 15px 15px 0;
	height: 215px;
	max-height: 215px;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.block-views-consultants-block .views-field-name {
	color: #000;
	text-transform: none;
	font-size: 16px;
	font-weight: 700 !important;
	margin: 10px 0;
}

.block-views-consultants-block .views-field-field-services {
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 0px;
}
.block-views-consultants-block .views-field-field-services div,
.block-views-consultants-block .views-field-field-services ul {
	display: inline;
}
.block-views-consultants-block .views-field-field-services ul li {
	margin-right: 4px;
}
.views-field-mail a {
	line-height: 18px;
	display: inline-block;
	width: 20px;
	height: 21px;
	text-indent: -9999px;
	background: transparent url('../images/socialemail.png') no-repeat left top;
}
.columns.siteheader {
	float: right;
	padding-left: 0;
	padding-right: 0;
	text-align: right;
}
#search-api-page-search-form-search .form-type-textfield input {
	width: 230px;
	height: 30px;
	line-height: 30px;
	color: #000;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: #EDEDED;
	padding-right: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;	
	border: 0px none;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1) inset;	
}
#search-api-page-search-form-search .form-type-textfield input.active {
	background-color: #808080;
	color: #fff;
	font-weight: 600;
}
#search-api-page-search-form-search .form-type-textfield {
}
#search-api-page-search-form-search button {
	float: left;
	height: 30px;
	line-height: 30px;
	display: block;
	width: 40px;
	line-height: 30px;
	text-indent: -9999px;
	color: #FFF;
	background: #EDEDED url('../images/searchbg.png') no-repeat right 50%;
	padding: 0px 12px;
	margin: 0 0 0 0;
}
#search-api-page-search-form-search {
	width: 100%;
	max-width: 270px;
}
.block-search-api-page-search {
	float: right;
	width: 100%;
	max-width: 270px;
	padding: 0;
	margin: 20px 0 0 0;	
}
.search-api-page-results > h2 {
	display: none;
}
.page-sitesearch h1#page-title, #search-api-page-search-form .form-type-textfield > label {
	display: none;
}
.page-sitesearch #search-api-page-search-form {
	display: none;
}
ol.search-results {
	margin: 15px 0 0 0;
}
.search-results li.search-result {
	float: left;
	clear: left;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #E7E7E6;
	max-width: 470px;
	width: 100%;
}
.search-results li.search-result h3.title {
	color: #000;
	font-size: 16px;
	font-weight: 700;
}
.search-results li.search-result h3.title a {
	color: #000;
}
.search-image {
	float: left;
	width: 140px;
}
.search-image img {
	float: left;
	width: 125px;
}
.search-results .search-snippet-info {
	margin-left: 140px;
}
.search-results .search-snippet-info, .search-results .search-snippet-info p {
	padding-left: 0;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.3;
	color: #000;
	margin-bottom: 0;
}
.search-results .search-snippet-info.noimage {
	margin-left: 0;
}
.item-list .facetapi-facetapi-links li {
	list-style-type: none;
	list-style-image: none;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 600;
	padding: 8px 0;
}
.item-list .facetapi-facetapi-links li:first-child {
	margin-top: 12px;
}
.node-page h1.node-title {
	font-size: 28px;
	
}
article .field-name-field-introduction, article .field-name-field-introduction p {
	font-size: 18px;
	font-weight: 600;
	color: #000;
}
/* DIAGNOSTIC TOOL */
.jumplist {
	width: 100%;
	border-top:3px solid #FFF;
	height: 40px;
	float: left;
	clear: both;
	margin: 20px 0;
	padding: 0;
	font-family: "proxima-nova-condensed", Verdana, Geneva, sans-serif;
	font-weight: 600;
	background-color: #B2B2B2;
}
.jumplist.bar {
	border-top: 0;
	height: 45px;
	margin: 0 0 20px 0;
}
.jumplist li {
	list-style-type: none;
	list-style-image: none;
	float: left;
	width: 11.1%;
	text-align: left;
	padding: 0 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	background-color: #B2B2B2;
}
.jumplist.bar li {
	width: 12.5%;
	text-align: center;
	padding: 0 0;
	line-height: 45px;
	border-right: 2px solid #fff;
	text-transform: uppercase;
}
.block-block-3 {
	float: left;
	clear: left;
	width: 100%;
}
.jumplist a {
	display: block;
	text-align: left;
	margin-top: -18px;
	font-size: 10px;
	color: #1C2229;
	text-align: center;
	background-color: #B2B2B2;
}
.jumplist.bar a {
	margin-top: 0px;
	font-size: 18px;
	color: #000;
	text-align: center;
}
.jumplist.bar .step-report a {
	padding-left: 34px;
	font-size: 14px;
	background: transparent url(../images/report-icon.png) no-repeat 10px 50%;
	
}
.jumplist a br {
	line-height: 5px;
}
.jumplist.bar a br {
	line-height: 45px;
}
.jumplist a:hover, .jumplist a.active, .jumplist.bar .step-report a:hover, .jumplist.bar .step-report a.active {
	color: #000;
	text-decoration: none;
	background-color: #878787;
}

.bgnum {
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	color: #1C2229;
	background-color: #FFF;
	font-size: 22px;
	margin: 0 auto 0 auto;
	text-align: center;
}
.jumplist li a > br {
	clear: both;
}
.active .bgnum, a:hover .bgnum {
	color: #FFF;
	background-color: #374451;
}
.step-start {
	margin-left: -2px;
}
.ui-slider {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	margin: 15px 0;
}
.ui-widget-content {
	border: 1px solid #8E9092;
}
.ui-slider-range {
	background: #000 !important;
}
.ui-slider .ui-slider-handle {
	border-color: #575756 !important;
	background: #575756 !important;
	height: 30px !important;
	width: 30px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -6px !important;
}
.ui-slider-horizontal {
	height: 18px;
}
.icheckbox_square {
	margin-left: 15px !important;
	margin-top: -2px !important;
	background-color: #fff !important;
}
ul.slider-stages {
	margin: 25px 0 15px 0;
	padding: 0;
	float: left;
	clear: both;
	width: 100%;
	overflow: hidden;
}
.form-type-slider .description {
	background-color: #F9F9F9;
	float: left;
	margin: -15px 0px 0px 0;
}
.form-type-slider {
	
}
ul.slider-stages li {
	display: block;
	float: left;
	list-style-image: none;
	list-style-type: none;
	width: 25%;
	margin: 0;
	vertical-align: top;
	text-align: left;
	padding: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 1.1;
	color: #000;
}
ul.slider-stages.triple li {
	width: 33%;
}
#diagnostic-node-form .vertical-tabs {
	clear: both;
}
.quotable {
	width: 480px;
	max-width: 100%;
	background-color: #C6C6C6;
	padding: 25px 20px;
	float: left;
	clear: left;
	margin: 20px 0;
	color: #000;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.multipage-pane-wrapper > .form-wrapper, .field-group-div {
	float: left;
	clear: left;
}

.little-chart {
	width: auto;
	display: inline-block;
	margin: 0 10px 10px 0;
}
.big-chart {
	width: auto;
	display: inline-block;
	margin: 0 10px 10px 0;
}
.panel.white {
	background-color: #fff;
}
.page-node-edit.node-type-diagnostic ul.button-group {
	display: none;
}
h2.multipage-pane-title {
	font-size: 28px;
	margin-bottom: 22px;
	padding: 0px 15px;
}

#diagnostic-node-form p {
	font-size: 13px;
	font-weight: 600;
	line-height: 1.5;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	color: #000;
}
#diagnostic-node-form .fieldset-description {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: #000;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	padding: 0px 15px;
	margin-bottom: 25px;
}

#diagnostic-node-form {
	float: left;
	width: 100%;
	clear: left;
	padding: 30px 15px;
	background-color: #F9F9F9;
}

.group-survey-statements > .form-wrapper {
	padding: 15px;
	background-color: #fff;
	margin-bottom: 15px;
}
.multipage-pane-wrapper > .form-wrapper {
	padding: 15px;
	background-color: #fff;
	margin-bottom: 15px;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.multipage-pane-wrapper > .form-wrapper.field-type-markup {
	background-color: transparent;
}
#diagnostic-node-form .form-item {
	margin-top: 0;
	margin-bottom: 0;
}
#diagnostic-node-form .form-item .form-item {
	margin-top: 0.85em;
	margin-bottom: 0.85em;
}
.form-item > label {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 18px;
	color: #000;
	line-height: 1.2;
}
.form-type-radio > label {
	font-size: 14px;
	font-weight: 500;
	margin-left: 20px;
	margin-bottom: 0;
}
.form-item-field-address-und-0-name .description {
	display: none;
}

.multipage-button {
	float: right;
}
.multipage-controls-list {
	float: right;
	clear: both;
}
.multipage-controls-list input.form-submit {
    background-color: #b2b2b2;
    border: 0px none;
    border-radius: 0px;
    color: #000;
    font-family: "proxima-nova", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 65px 20px 25px;
    text-shadow: 0 0 0 #FFFFFF;	
}
.multipage-controls-list input.form-submit:hover {
	opacity: 0.9;
}
.multipage-controls-list input.form-submit.multipage-link-next {
	background-image: url(../images/next-arrow.png);
	background-repeat: no-repeat;
	background-position: right 50%;
	margin-left: 15px;
}
.multipage-controls-list input.form-submit.multipage-link-previous {
	background-image: url(../images/previous-arrow.png);
	background-repeat: no-repeat;
	background-position: left 50%;
    padding: 20px 25px 20px 65px;
}
#diagnostic-node-form .form-item-field-address-und-0-delete-location {
	display: none;
}
input.form-text {
	background-color: #F9F9F9;
}
div.multi-slider {
	float: left;
	clear: both;
	padding: 15px;
	background-color: #fff;
}
div.multi-slider .field-widget-sliderfield {
	float: left;
	clear: left;
	width: 100%;
}
#edit-field-skills-marketing label,
#edit-field-skills-business-dev label,
#edit-field-skills-human-resources label,
#edit-field-skills-legal label {
	float: left;
	width: 25%;
	font-weight: 500;
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	margin-bottom: 0px;
}
#edit-field-skills-marketing .sliderfield,
#edit-field-skills-business-dev .sliderfield,
#edit-field-skills-human-resources .sliderfield,
#edit-field-skills-legal .sliderfield {
	float: left;
	width: 75%;
	height: 50px;
}

fieldset#edit-field-address-und-0,
.field-type-datetime fieldset {
	border: 0px;
	margin: 0 0;
	padding: 0;
}

fieldset#edit-field-address-und-0 legend,
.field-type-datetime fieldset legend {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #000;
}
fieldset#edit-field-address-und-0 .form-item label,
.field-type-datetime fieldset .form-item label {
	font-size: 14px;
	margin-top: 6px;
}
.form-type-checkbox label {
	font-size: 14px;
	margin-left: 15px;
}
.form-item .description {
	font-size: 12px;
	padding: 10px;
	background-color: #F9F9F9;
}
.field-type-datetime .form-item .form-item {
	width: 30%;
	margin-right: 3%;
	float: left;
	margin-top: 0px;
}
.field-type-datetime .selectBox-dropdown {
	width: 150px;
	max-width: 150px;
	min-width: 100px;
	margin-right: 10px;
}
.field-type-datetime {
	padding: 0;
}
.field-type-datetime .form-item label {
	display: none;
}

.subgroup {
	float: left;
	clear: left;
	width: 100%;
	margin: 25px 0;
}
.subgroup .form-item label {
	font-size: 16px;
}
.subgroup > h3 {
	padding: 8px;
	clear: left;
	float: left;
	width: 100%;
}
.subgroup .form-item {
	background-color: #fff;
	padding: 15px;
	float: left;
	clear: left;
	width: 100%;
}
#edit-field-balance-representation .description {
	width: 100%;
}

.ui-widget-content.sliderfield-container {
	border: 0px none;
	background: #C6C6C6;
}

#diagnostic-node-form .multipage-controls-list #edit-actions {
	float: right;
	margin: 0;
}
#diagnostic-node-form .multipage-controls-list #edit-actions button {
	float: right;
	padding: 20px 25px 20px 25px;
	color: #000000;
    font-family: "proxima-nova",Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: 600 !important;
    text-shadow: 0 0 0 #FFFFFF;
    text-transform: uppercase;	
	margin-left: 15px;
}
#diagnostic-node-form .multipage-controls-list #edit-actions button#edit-delete {
	background-color: #B2B2B2;
}
#diagnostic-node-form .multipage-controls-list #edit-actions button#edit-delete:hover {
	background-color: #FF0000;
}
#diagnostic-node-form .multipage-controls-list #edit-actions button#edit-submit {
	background-color: #B2B2B2;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#diagnostic-summary {
	background: #F9F9F9;
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 15px;
	color: #000;
}
#diagnostic-summary p {
	font-size: 13px;
	color: #000;
	margin: 8px 0;
}
#diagnostic-summary h3 {
	margin-bottom: 25px;
	font-size: 22px;
}
.field-name-field-name-role {
	display: inline;
}
.node-diagnostic .panel {
	border: 0px;
	padding: 0px;
	margin: 0;
}
.node-diagnostic {
	padding: 15px;
	background-color: #F9F9F9;
}

.node-diagnostic .field-name-field-address {
	width: auto;
	float: right;
	
}

#diagnostic-bridge {
	margin: 15px 0 0 0;
	padding: 30px 15px 25px 15px;
	overflow: hidden;
}
.node-diagnostic .spacer {
	height: 40px;
}
#bridge-diagram {
	width: 460px;
	max-width: 100%;
	margin: 0 auto;
}
.bridge-block {
	width: 150px;
	height: 150px;
	background-color: #DADADA;
	position: relative;
	display: inline-block;
	margin-right: -1px;
}
.bridge-block.three, .bridge-block.six {
	border-right: 0px;
}
.bridge-block.blank {
	background-color: #FFFFFF;
}
.bridge-block .fill {
	vertical-align: bottom;
	width: 100%;
	position: absolute;
	bottom: 0px;
}
#financial-performance-block .fill,
.fin-perf .square-tint {
	background-color: #878787;
}
#quality-impact-block .fill,
.qual-imp .square-tint {
	background-color: #9D9D9C;
}
#financial-control-block .fill,
.fin-cont .square-tint {
	background-color: #575756;
}
#governance-leadership-block .fill,
.gov-lead .square-tint {
	background-color: #706F6F;
}
#market-potential-block .fill,
.mark-pot .square-tint {
	background-color: #878787;
}
.square-tint {
	height: 13px;
	width: 13px;
}
#bridge-legend table {
	border: 0px;
	margin: 0 25px 25px 0;
	font-size: 12px;
	color: #000;
	width: 100%;
}
#bridge-legend table tbody {
	border-top: 0;
}

#bridge-legend table tr:nth-of-type(2n) {
	background-color: transparent;
}
#bridge-legend table tr th, #bridge-legend table tr td {
	color: #000000;
    font-size: 12px;
    padding: 5px;
}
#bridge-legend table tr td.title {
	padding-right: 20px;
}
#bridge-legend table tr td.perc {
	text-align: right;
}
#bridge-legend {
	width: 50%;
	float: left;
	height: 
}
#overall-score {
	width: 30%;
	text-align: center;
	background-color: #EDEDED;
	padding: 15px 20px;
	float: left;
	height: 100%;
	margin: 0 10%;
}
#bridge-figures {
	float: left;
	width: 100%;
	clear: both;
	height: 140px;
}
.overall-score-big {
	font-size: 72px;
	color: #000;
	display: inline;
	font-weight: 700;
}
.smaller-perc {
	color: #989898;
	font-size: 36px;
	font-weight: 700;
}
.overall-title {
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #999999;
	margin-top: 5px;
	letter-spacing: 1px;
}
#areas-detail {
	padding: 35px 15px 15px 15px;
	overflow: hidden;
}
.chart-overlay-contain {
	position: relative;
	width: 200px;
	height: 200px;
}
.area-chart-overlay {
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 50px 50px;
	top: 0px;
	left: 0px;
	vertical-align: middle;
}
.area-score-big {
	font-size: 40px;
	font-weight: 700;
	color: #000;
	margin-top: 30%;
	margin-left: 6%;
}
.area-smaller-perc {
	font-size: 20px;
	color: #989898;
	font-weight: 500;
}
.area-all {
	float: left;
	clear: left;
	width: 100%;
	border-top: 1px solid #DFDFDF;
	padding: 25px 0;
}
.area-chart-individual {
	width: 200px;
	float: left;
	margin-right: 40px;
}
.area-text {
	float: left;
	width: 400px;
}
.area-text h3 {
	font-size: 16px;
	font-weight: 700;
}
.area-description, .area-description p {
	font-size: 13px;
	line-height: 1.5;
	color: #000;
	margin: 0 0 8px 0;
}
.area-message {
	font-size: 13px;
	line-height: 1.5;
	color: #000;
	background-color: #C6C6C6;
	padding: 10px;
}
#weakest {
	float: left;
	clear: left;
	width: 100%;
	overflow: hidden;
	margin-top: 15px;
	padding: 15px;
	font-size: 13px;
	line-height: 1.5;
	color: #000;
}
#weakest > p {
	font-size: 13px;
	line-height: 1.5;
	color: #000;
	font-weight: 600;
}
#weakest > ul {
	list-style: none;
	margin-left: 0px;
}
#weakest > ul li {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding: 8px 0;
	border-bottom: 1px solid #DFDFDF;
	font-size: 12px;
	line-height: 1.5;
	color: #222;
}
#edit-report {
	float: left;
	clear: left;
	width: 100%;
	overflow: hidden;
	margin: 25px 0;
}

.print_html, .print_mail, .print_pdf, .print_epub {
	margin-right: 10px;
	margin-left: 0px;
}
.print_html a, .print_mail a, .print_pdf a, .print_epub  a {
	display: inline-block;
	width: auto;
	padding: 5px 10px;
	background-color: #DADADA;
	color: #000;
	font-size: 13px;	
	font-family: "proxima-nova", Verdana, Geneva, sans-serif;
	font-weight: 500;
	line-height: 18px;
	transition: background-color 300ms ease-out 0s;
}
.printlinks {
	margin-top: 10px;
}
.print_html a:hover, .print_mail a:hover, .print_pdf a:hover, .print_epub  a:hover {
	background-color: #666;
	color: #fff;
}

article.printer-friendly {
	width: 780px;
}

#report-links {
	margin-top: 30px;
}

.node-eligibility .alert-box {
	padding: 25px;
}
.node-eligibility p, .node-eligibility h3 {
	color: #000;
}
.node-eligibility strong, .node-eligibility a {
	font-weight: 700;
}
.alert-box.success {
	background-color: #4CC08F;
	border-color: #4CC08F;
	color: #000;
}
#eligibility-node-form {
	float: left;
	width: 100%;
	clear: left;
	padding: 5px 20px 15px 20px;
	background-color: #F9F9F9;
}
#edit-field-years label,
#edit-field-months label {
	font-weight: 500;
	font-size: 15px;
}
#eligibility-node-form .form-item, #eligibility-node-form .subgroup {
	background-color: #fff;
}
#eligibility-node-form .subgroup {
	margin: 15px 0;
	float: left;
	clear: left;
}
#eligibility-node-form .subgroup > h3 {
	margin-top: 15px;
	padding-left: 15px;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;	
	font-size: 18px;
}
#eligibility-node-form .form-wrapper {
	float: left;
	clear: left;
	width: 100%;
}
#eligibility-node-form #edit-field-sector-und label,
#eligibility-node-form #edit-field-reach-und label {
	font-weight: 500;
	font-size: 14px;
}
#eligibility-node-form .vertical-tabs,
#eligibility-node-form #edit-actions {
	float: left;
	clear: left;
	width: 100%;
	max-width: 600px;
}
#eligibility-node-form .vertical-tabs {
	display: none;
}
#eligibility-node-form .subgroup .form-item {
	margin-top: 0;
	margin-bottom: 0;
}
#eligibility-node-form .form-item label {
	margin-bottom: 12px;
	font-size: 14px;
}
#eligibility-node-form input.form-text {
	margin-bottom: 0;
}
#eligibility-node-form .form-wrapper > .form-item {
	padding: 15px;
}
#eligibility-node-form .form-wrapper > .form-item label {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	color: #000;
}	
#eligibility-node-form .form-item .description {
	padding: 15px;
	background-color: #E3E3E3;
	margin-left: 0;
	color: #000;
	margin-top: 10px;
}
#eligibility-node-form #edit-actions button {
	padding: 20px 25px 20px 25px;
	color: #000000;
    font-family: "proxima-nova",Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: 600 !important;
    text-shadow: 0 0 0 #FFFFFF;
    text-transform: uppercase;	
	margin-right: 15px;
}
#eligibility-node-form #edit-actions button#edit-delete {
	background-color: #B2B2B2;
}
#eligibility-node-form #edit-actions button#edit-delete:hover {
	background-color: #FF0000;
}
#eligibility-node-form #edit-actions button#edit-submit {
	background-color: #B2B2B2;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.flag-submit-diagnostic-report a.flag, a#edit-cancel,
button#edit-submit-dialog, button#edit-cancel-dialog {
    background-color: #C6C6C6;
    border: medium none;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: normal !important;
    line-height: normal;
    margin: 0 0 1.25rem;
    padding: 1.0625rem 2rem 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 300ms ease-out 0s;
}
.flag-submit-diagnostic-report a.flag:hover, a#edit-cancel:hover {
	text-decoration: none;
	background-color: #999;
}
#submit-report {
	float: left;
	clear: left;
	width: 100%;
	padding: 15px;
	background-color: #F9F9F9;
}
.page-flag-confirm h1#page-title {
	font-size: 18px;
}
.flag-connected-consultants a.flag {
	padding: 5px;
	color: #000;
	background-color: #C6C6C6;
	transition: background-color 300ms ease-out 0s;
	font-size: 11px;
	text-transform: uppercase;
}
.flag-connected-consultants a.flag:hover {
	background-color: #999;
	text-decoration: none;
}

.form-item-field-address-und-0-delete-location {
	display: none;
}
input[type="file"] {
	display: inline-block;
	width: 220px;
}
button.ajax-processed {
	padding: 5px;
	background-color: #e7e7e7;
	color: #000;
	font-size: 13px;	
}
button.ajax-processed:hover {
	background-color: #b9b9b9;
}
.form-managed-file .form-item {
	margin: 1em 0;
}
.field-name-field-download .tabledrag-toggle-weight-wrapper {
	display: none;
}
.field-name-field-download .fieldset-description {
	margin-bottom: 15px;
}
.field-name-field-download .form-item > .description {
	margin-top: 15px;
}
.ui-dialog {
	border-radius: 0px !important;
	padding: 0px !important;
}
.ui-widget-header {
	background: #000 !important;
	border: 0px !important;
	color: #fff !important;
	font-family: "proxima-nova", Arial, Helvetica, sans-serif !important;
	border-radius: 0px !important;
}
.ui-dialog .ui-dialog-title {
	margin: 0;
}
#flagging-form-flagging-form-dialog {
	margin-top: 12px;
}
#dashboard {
	padding: 15px;
	background-color: #F9F9F9;
	float: left;
	width: 100%;
}
#dashboard > h2, .dashpanel h2 {
	font-size: 16px;
	margin: 0 0 15px 0;
}
#dashboard > h2 {
	margin: 0 0 15px 15px;
}
.dashpanel {
	background-color: #fff;
	padding: 15px;
	float: left;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
}
.profile-label {
	width: 100px;
	float: left;
	line-height: 25px;
	font-size: 12px;
	display: inline-block;
	clear: both;
	color: #000;
}
.textbox {
	float: left;
	line-height: 25px;
	font-size: 12px;
	background-color: #F9F9F9;
	border: 1px solid #E4E4E4;
	display: inline-block;
	width: 340px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 6px;
	color: #000;
}
.profile-field {
	margin-bottom: 5px;
	width: 460px;
	float: left;
	clear: left;
}
#profile-info .user-picture {
	margin: 0 0 0 0;
}
.dashpanel.half {
	width: 49%;
	float: left;
	height: 300px;
}
.dashpanel.half.left {
	margin-right: 2%;
}
h2.tick {
	padding-right: 25px;
	background: transparent url('../images/tick.png') no-repeat 60% 50%;
	margin-bottom: 25px;
}
h2.cross {
	padding-right: 25px;
	background: transparent url('../images/cross.png') no-repeat 60% 50%;
	margin-bottom: 25px;
}
.darkbold {
	padding: 10px 8px;
	background-color: #D1D1D1;
	font-weight: bold;
}
.darkbold p {
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 0px;
}
.subtext {
	margin-top: 12px;
}
.subtext p {
	font-size: 13px;
	max-width: 420px;
}
.dashpanel.half .subtext p {
	max-width: 300px;
}
.dashpanel a.button.big {
	text-transform: uppercase;
	position: absolute;
	bottom: 15px;
	margin-bottom: 0px;
	left: 15px;
}
#profile-edit-link {
	width: auto;
	float: right;
}
#profile-edit-link .button.grey {
	color: #fff;
	padding: 10px 20px;
	background-color: #B2B2B2;
}
#profile-edit-link .button.grey:hover {
	background-color: #999;
}
.dashpanel#funding-status {
	min-height: 300px;
}
.page-user .main ul.button-group,
.page-user .main h2.element-invisible {
	display: none;
}
.page-user .main .profile {
	margin-top: 0;
}
.page-user .main .profile h1#page-title {
	margin-top: 0;
}
.view-connected-providers {
	float: left;
	width: 100%;
	max-width: 440px;
}
.view-connected-providers img {
	width: 188px;
}
.view-connected-providers .user-picture {
	width: 188px;
	height: 125px;
	overflow: hidden;
}
.view-connected-providers .views-row {
	float: left;
	clear: none;
	width: 188px;
	margin-right: 15px;
	margin: 0 15px 15px 0;
	height: 215px;
	max-height: 215px;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 0px;
	padding-bottom: 0px;
}
.view-connected-providers .views-field-name {
	color: #000;
	text-transform: none;
	font-size: 16px;
	font-weight: 700 !important;
	margin: 10px 0;
}
#document-library > h2 {
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}
.view-document-library {
	float: left;
	width: 100%;
}
.view-document-library .views-row {
	width: 100%;
	float: left;
	clear: left;
}
.view-document-library .views-field-field-download {
	width: 60px;
	float: left;
	margin-right: 15px;
}
.view-document-library .views-field-field-download img {
	width: 60px;
}
.view-document-library .views-field-field-download-1,
.view-document-library .views-field-field-download-1 div {

}
.view-document-library .views-field-field-download-2,
.view-document-library .views-field-field-download-2 div {
	font-size: 13px;
	color: #999;
	font-family: "proxima-nova-condensed", Arial, Helvetica, sans-serif;
	margin-top: 10px;
}
.view-document-library .views-field-field-download-1 img.file-icon {
	display: none;
}
.view-document-library .views-field-field-download-1 .file,
.view-document-library .views-field-field-download-1 .file a {
	font-weight: bold;
	color: #000;
}
span.file-size {
	font-size: 14px;
	color: #999;
	font-weight: normal;
}

/***************** FRONT PAGE ****************/

.front #node-92 {
	display: none;
}
.front .main > ul.button-group {
	display: none;
}
.flexslider {
	border: 0px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	box-shadow: 0 0 0 #fff;
	margin: 0px;
}
.front .panels-flexible-region-2-center {
	width: 100%;
}
#hero.flexslider .slides > li {

}
#hero.flexslider .slides > li .views-field-title {
	position: absolute;
	width: auto;
	display: block;
	padding: 15px 20px;
	background-color: #fff;
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	bottom: 50px;
	left: 40px;
	font-size: 28px;
}
#hero.flexslider .flex-control-nav {
	bottom: 15px;
	right: 15px;
	width: auto;
	z-index: 10;
}
#hero.flexslider .flex-control-paging li {
	margin: 0 4px;
}
#hero.flexslider .flex-control-paging li a {
	background: none repeat scroll 0 0 rgba(178, 178, 178, 1);
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	box-shadow: 0 0 0 #000;
}
#hero.flexslider .flex-control-paging li a.flex-active {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 1);
}
.flex-direction-nav a {
	height: 60px;
}
#mini-panel-front_page .panels-flexible-row-2-1 {
	margin-top: 25px;
}
#mini-panel-front_page .panels-flexible-row-2-1 .panels-flexible-region {
	width: 33.33% !important;
}
#mini-panel-front_page .panels-flexible-row-2-1 .panel-pane {
	background-color: #CDCCCC;
	padding: 15px;
}
#mini-panel-front_page .panels-flexible-row-2-1 .panel-pane h2 {
	font-size: 21px;
	margin-top: 8px;
	line-height: 1.5;
	max-width: 280px;
}
#mini-panel-front_page .panels-flexible-row-2-1 .panel-pane {
	position: relative;
	height: 230px;
}
a.icon {
	display: block;
	position: absolute;
	bottom: 20px;
	right: 25px;	
	text-indent: -9999px;
}
a.icon.document {
	width: 68px;
	height: 83px;
	background: transparent url('../images/icon_document.png') no-repeat left top;
}
a.icon.folder {
	width: 91px;
	height: 63px;
	right: 15px;
	background: transparent url('../images/icon_folder.png') no-repeat left top;
}
a.icon.spanner {
	width: 82px;
	height: 82px;
	background: transparent url('../images/icon_spanner.png') no-repeat left top;
}
a.icon:hover {
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
	opacity: 0.9;
}
#mini-panel-front_page .panels-flexible-row-2-2 {
	margin-top: 25px;
}
#mini-panel-front_page .panels-flexible-region-2-slider {
	width: 66.66% !important;
}
#guide.flexslider .slides .views-field-field-image img {
	width: 150px;
	height: 150px;
}
#guide.flexslider .slides .views-field-field-image {
	float: left;
	margin-left: 25px;
	margin-bottom: 25px;
}
.pane-guide-slider {
	background-color: #D6D7D6;
}
#guide.flexslider {
	background-color: transparent;
}
#guide.flexslider .flex-control-nav {
	display: none;
}
#guide.flexslider ul.slides {
	padding: 0 25px;
}
#guide.flexslider .slides .views-field-title {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 22px;
	margin: 20px 25px 15px 25px;
}
#guide.flexslider .slides .views-field-field-description {
	font-size: 14px;
	color: #666;
	margin-left: 200px;
	margin-right: 40px;
}
#guide.flexslider .slides .views-field-field-slide-link {
	font-size: 18px;
	color: #fff;
	margin-right: 40px;
	width: 160px;
	height: 55px;
	display: block;
	margin-top: 10px;
	float: right;
}
#guide.flexslider .slides .views-field-field-slide-link a {
	color: #fff;
	display: block;
	padding: 10px;	
	background-color: #717070;
	line-height: 1.2;	
	font-weight: 600;
}
#guide.flexslider .slides .views-field-field-slide-link a:hover {
	text-decoration: none;
	background-color: #000;
}
.panels-flexible-region-2-twitter-inside .pane-content {
	background-color: #E5E5E4;
	padding: 10px;
	height: 245px;
	overflow: hidden;
}
.twitter-header {
	line-height: 40px;
	height: 40px;
	display: block;
	color: #000;
	padding-left: 55px;
	background-image: url('../images/big_little.png');
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 40px 40px;
	background-position: left 50%;
	font-weight: bold;
}

@media only screen and (min-width: 40.063em) {
	.contain-to-grid .top-bar {
		max-width: 67.5rem;
	}	
}

@media only screen and (max-width: 40em) {
	.selectBox-dropdown {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}
}