/* Welcome to Compass. Use this file to write IE specific override styles. */

.u-photo {
	display: none !important;
}
.full-name {
	display: none !important;
}
.stream {
	background-color: #D6E8FD !important;
	margin-top: 8px !important;
	height: 226px !important;
	overflow:hidden !important;
}

.stream .footer {
	display:none !important;
}

.p-nickname {
	color: #000 !important;
	font-weight: 700 !important;
}
.var-chromeless .tweet {
	padding: 12px 0 12px 0 !important;
	border-bottom: 1px solid #add1fb !important;
	margin: 0 12px 0 12px !important;
}
.custom-timeline-owner-profile, .timeline .e-entry-title, .p-author .p-name, .cards-base h3, .new-tweets-bar button, .load-tweets, .no-more-pane {
	font-size: 11px !important;
}
.p-geo {
	display: none !important;
}

.var-narrow .tweet .header {
	position: relative;
	_height: 36px;
	min-height: 32px;
	padding: 0 0 4px 0px !important;
}

.var-narrow .header .p-nickname {
line-height: 6px !important;
}

.var-narrow .tweet .header {
 min-height: 16px !important; 
}

#twitter-widget-0 {
	height:234px;
}